// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: $helvetica;
$serif: $georgia;

$base-font-family: 'Lato', $sans-serif;
$secondary-font-family: 'Bitter', $sans-serif;
$header-font-family: $secondary-font-family;
$base-font-weight: 400;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

$base-margin-bottom: 1.5em;
$base-content-margin: 2em;

// Colors
///////////////////////////////////////////////////////////////////////////////

$blue: #019dbe;
$red: #bf4030;
$green:#69aa44;

$dark-gray: #333;
$gray: #999;
$light-gray: #efefef;

$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green:#d3eec6;
$orange: #FF6600;

// Body Color
$base-body-color: white;

//  Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $blue;
$secondary-accent-color: $red;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;
