/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

button,
input[type="submit"] {
  background-color: #019dbe;
  border-radius: 3px;
  border: 0;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  padding: 7px 18px;
  text-decoration: none;
  background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  font-weight: 700;
  line-height: 1em;
  font-family: "Bitter", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}
button:hover:not(:disabled),
input[type="submit"]:hover:not(:disabled) {
  background-color: #00b3d9;
  cursor: pointer;
}
button:active:not(:disabled),
input[type="submit"]:active:not(:disabled), button:focus:not(:disabled),
input[type="submit"]:focus:not(:disabled) {
  background-color: #0486a1;
  cursor: pointer;
}
button:disabled,
input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

body {
  color: #333;
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bitter", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility;
  font-weight: 400;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p {
  font-size: 1em;
  margin: 0 0 0.75em;
}

a {
  color: #019dbe;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
a:hover {
  color: #015e72;
}
a:active, a:focus {
  color: #015e72;
  outline: none;
}

hr {
  border-bottom: 1px solid #efefef;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
}

img {
  margin: 0;
  max-width: 100%;
}

abbr, acronym {
  border-bottom: 1px dotted #efefef;
  cursor: help;
}

address {
  display: block;
  margin: 0 0 0.75em;
}

hgroup {
  margin-bottom: 0.75em;
}

del {
  color: #595959;
}

blockquote {
  border-left: 2px solid #efefef;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em;
}

cite {
  color: #737373;
  font-style: italic;
}
cite:before {
  content: '\2014 \00A0';
}

fieldset {
  background: white;
  border: 1px solid #efefef;
  margin: 0 0 0.75em 0;
  padding: 1.5em;
}

input,
label,
select {
  display: block;
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
}

label {
  font-weight: bold;
  margin-bottom: 0.375em;
}
label.required:after {
  content: "*";
}
label abbr {
  display: none;
}

textarea,
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #efefef;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%;
}
textarea:hover,
input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
select[multiple=multiple]:hover {
  border-color: #d6d6d6;
}
textarea:focus,
input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
select[multiple=multiple]:focus {
  border-color: #019dbe;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(1, 136, 165, 0.7);
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

input[type="file"] {
  width: 100%;
}

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em;
}

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

::-webkit-input-placeholder {
  color: #efefef;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #efefef;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #efefef;
}

:-ms-input-placeholder {
  color: #efefef;
}

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid #c9c9c9;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #efefef;
  padding: 0.75em 0;
}

tr, td, th {
  vertical-align: middle;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
dl {
  line-height: 1.5em;
  margin-bottom: 0.75em;
}
dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}
dl dd {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

@media screen and (min-width: 53.75em) {
  .doc-wrap {
    padding-top: 102px;
  }
}

@media screen and (min-width: 53.75em) {
  .admin-bar .doc-head {
    top: 32px;
  }
}

.doc-head {
  height: auto;
}
.doc-head .header-top {
  border-bottom: 1px solid #efefef;
  max-width: none;
}
.doc-head .header-top::after {
  clear: both;
  content: "";
  display: table;
}
.doc-head .header-top > div {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}
.doc-head .header-top > div::after {
  clear: both;
  content: "";
  display: table;
}

.header-cta {
  float: right;
}
.header-cta .cta-button {
  padding: 6px 10px 0 10px;
  margin-top: 12px;
  margin-right: 15px;
  height: 37px;
  font-size: 0.875rem;
}
@media screen and (min-width: 53.75em) {
  .header-cta .cta-button {
    padding: 10px 25px 10px 25px;
    margin-top: 7px;
    margin-right: 0;
    height: auto;
    font-size: 1.125rem;
  }
}

.doc-head {
  z-index: 9999;
  background: #fff;
  border-bottom: 1px solid #efefef;
}
.doc-head::after {
  clear: both;
  content: "";
  display: table;
}
@media screen and (min-width: 53.75em) {
  .doc-head {
    height: auto;
    position: fixed;
    top: 0;
    width: 100%;
  }
}

.logo-header {
  float: left;
  width: 100%;
  max-width: 100px;
  position: relative;
  height: 60px;
}
.logo-header div {
  text-align: center;
  height: 100%;
  background: url(../images/logo.png) no-repeat center center;
  background-size: 100% auto;
}
@media screen and (min-width: 53.75em) {
  .logo-header div {
    background-size: 90% auto;
  }
}
.logo-header div a {
  width: 100%;
  height: 100%;
  display: block;
}
@media screen and (min-width: 30em) {
  .logo-header {
    width: 30%;
    max-width: 200px;
  }
}
@media screen and (min-width: 53.75em) {
  .logo-header {
    width: 30%;
    max-width: 300px;
  }
}

a.m-btn {
  font-size: 1.5em;
  z-index: 9999;
  color: #fff;
  float: right;
  background: #019dbe;
  padding: 5px 5px 5px 8px;
  border: 1px solid #01738b;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: fixed;
  top: 12px;
  right: 5px;
}
@media screen and (min-width: 53.75em) {
  a.m-btn {
    display: none;
  }
}

.d-menu {
  display: none;
}
@media screen and (min-width: 53.75em) {
  .d-menu {
    float: left;
    width: 100%;
    height: 40px;
    display: inline-block;
    position: relative;
    margin-right: 5%;
  }
  .d-menu::after {
    clear: both;
    content: "";
    display: table;
  }
  .d-menu > div {
    float: left;
    width: 95%;
  }
  .d-menu ul {
    display: table;
    width: 100%;
  }
  .d-menu ul li {
    border-left: none;
    font-size: 0.875rem;
    position: relative;
    text-transform: uppercase;
    display: table-cell;
  }
  .d-menu ul li:last-child {
    margin-right: 0;
    border-right: 1px solid #efefef;
  }
  .d-menu ul li:hover {
    background: #efefef;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .d-menu ul li.current-menu-item > a {
    color: #015e72;
  }
  .d-menu ul li.current-menu-parent > a {
    color: #015e72;
  }
  .d-menu ul li a {
    padding: 0;
    text-align: center;
    display: block;
    line-height: 40px;
    height: 40px;
    border-left: 1px solid #efefef;
  }
}
@media screen and (min-width: 53.75em) and (min-width: 80em) {
  .d-menu ul li {
    font-size: 1rem;
  }
}

.d-menu ul.sub-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  height: 80px;
  background: #efefef;
  padding: 10px;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.d-menu ul li li {
  float: none;
  font-size: 1rem;
  text-transform: none;
  display: block;
}
.d-menu ul li li a {
  padding: .5em 0;
  float: left;
  height: auto;
  text-align: left;
}

.d-menu ul li:hover ul.sub-menu {
  visibility: visible;
  opacity: 1;
  min-width: 200px;
  width: 100%;
  z-index: 999;
}
.d-menu ul li:hover ul.sub-menu li {
  border-top: 1px solid #d6d6d6;
  line-height: normal;
}
.d-menu ul li:hover ul.sub-menu li a {
  float: none;
  line-height: normal;
}
.d-menu ul li:hover ul.sub-menu li:first-child {
  border-top: none;
}

.icon-search {
  position: absolute;
  font-size: 1.25em;
  right: 10px;
  top: 8px;
  color: #d6d6d6;
  cursor: pointer;
}
.icon-search.active {
  color: #019dbe;
}
@media screen and (min-width: 53.75em) {
  .icon-search {
    right: 0;
    top: 8px;
  }
}

.header-search {
  display: none;
  background: #019dbe;
  padding: 2em 0;
  text-align: right;
}
.header-search > div {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
.header-search > div::after {
  clear: both;
  content: "";
  display: table;
}
.header-search input {
  max-width: 300px;
  height: 40px;
}
.header-search button, .header-search input, .header-search span, .header-search label {
  display: inline-block;
}
.header-search button {
  border: 1px solid #01b2d7;
  height: 40px;
  vertical-align: top;
  background: #0188a5;
}
.header-search input, .header-search label {
  margin-right: 5px;
}
.header-search label {
  color: #fff;
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: 700;
}

footer.doc-foot {
  color: #fff;
  background: #333;
  padding-bottom: 30px;
}
@media screen and (min-width: 40em) {
  footer.doc-foot {
    padding-bottom: 0;
  }
}
footer.doc-foot a {
  color: #67c4d8;
}
footer.doc-foot a:hover {
  color: #fff;
}
footer.doc-foot > div:nth-of-type(1) {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  display: table;
  width: 100%;
}
footer.doc-foot > div:nth-of-type(1)::after {
  clear: both;
  content: "";
  display: table;
}
footer.doc-foot > div:nth-of-type(1) ul {
  margin-bottom: .5em;
  padding-top: .5em;
  border-top: 1px solid #4dbad2;
}
@media screen and (min-width: 40em) {
  footer.doc-foot > div:nth-of-type(1) ul {
    display: table-cell;
    padding: 0 1em;
    border-left: 1px solid #4dbad2;
    border-top: none;
  }
  footer.doc-foot > div:nth-of-type(1) ul:first-child {
    border-left: none;
  }
}
footer.doc-foot > div:nth-of-type(1) ul li {
  line-height: normal;
}
footer.doc-foot > div:nth-of-type(1) ul li:first-child {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin-bottom: .5em;
  font-family: "Bitter", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 700;
}
footer.doc-foot > div:nth-of-type(2) i {
  font-size: 1.875em;
}
footer.doc-foot > div:nth-of-type(2) p {
  font-size: 0.75em;
}
footer.doc-foot > div:nth-of-type(2) ul {
  clear: both;
  padding-top: 5px;
}
footer.doc-foot > div:nth-of-type(2) ul li {
  display: inline-block;
}
@media screen and (min-width: 40em) {
  footer.doc-foot > div:nth-of-type(2) ul {
    float: right;
    max-width: 400px;
    clear: none;
  }
}

.doc-content.footer-quotes {
  border-top: 12px solid #019dbe;
  padding-bottom: 40px;
  padding-top: 1.5em;
  margin-bottom: 0;
}

.quote-slider {
  margin-top: 1em;
}
.quote-slider blockquote {
  padding: 0 1em 0 2em;
  border: 0;
  position: relative;
}
.quote-slider cite {
  display: block;
  text-align: right;
  font-size: 0.75em;
  color: #333;
}
.quote-slider blockquote:before {
  color: #d6d6d6;
  content: "\201C";
  /*Unicode for Left Double Quote*/
  font-size: 4em;
  line-height: 0em;
  vertical-align: 0em;
  position: absolute;
  top: 20px;
  left: 5px;
}

.footer-quotes blockquote {
  min-height: 100px;
}
@media screen and (min-width: 40em) {
  .footer-quotes blockquote {
    min-height: 0;
  }
}

.quote-slider.mob-quote {
  display: block;
}
@media screen and (min-width: 40em) {
  .quote-slider.mob-quote {
    display: none;
  }
}
.quote-slider.desk-quote {
  display: none;
}
@media screen and (min-width: 40em) {
  .quote-slider.desk-quote {
    display: block;
  }
}

.bx-wrapper .bx-viewport {
  box-shadow: none !important;
  border: none !important;
  background: transparent !important;
  position: static !important;
  /* This is relative on the element via js...seems to push it left */
}

footer.doc-foot li .more-info:after {
  top: -4px;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(51, 51, 51, 0.8);
}
@media screen and (min-width: 40em) {
  .fixed-footer {
    display: none !important;
  }
}
.fixed-footer .footer-cta {
  float: right;
}
.fixed-footer .footer-cta .cta-button {
  padding: 6px 10px 0 10px;
  margin: 5px 0;
  margin-right: 15px;
  height: 37px;
  font-size: 0.875rem;
}
@media screen and (min-width: 53.75em) {
  .fixed-footer .footer-cta .cta-button {
    padding: 10px 25px 10px 25px;
    margin-top: 7px;
    margin-right: 0;
    height: auto;
    font-size: 1.125rem;
  }
}

.doc-wrap,
.mm-page {
  background: white !important;
}

.doc-head > div,
.doc-head > .hero > div {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}
.doc-head > div::after,
.doc-head > .hero > div::after {
  clear: both;
  content: "";
  display: table;
}

.doc-wrap section:nth-of-type(2) {
  padding-top: 2em;
}

.doc-content {
  margin-top: 2em;
  margin-bottom: 2em;
  background: white;
}
.doc-content > div {
  padding: 0 1em;
}
.doc-content.gray {
  background: #efefef;
}
.doc-content.accent {
  background: #019dbe;
  color: #fff;
  padding-top: 1.5em;
}
.doc-content.accent a {
  color: #67c4d8;
}
.doc-content.accent a:hover {
  color: #fff;
}

.doc-content.sidebar {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
.doc-content.sidebar::after {
  clear: both;
  content: "";
  display: table;
}
@media screen and (min-width: 40em) {
  .doc-content.sidebar {
    display: flex;
  }
  .doc-content.sidebar > div {
    width: 80%;
  }
  .doc-content.sidebar > aside {
    width: 20%;
  }
}

.doc-content.two-col {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
.doc-content.two-col::after {
  clear: both;
  content: "";
  display: table;
}
@media screen and (min-width: 40em) {
  .doc-content.two-col > div {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%;
  }
  .doc-content.two-col > div:last-child {
    margin-right: 0;
  }
}

.page_layout {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  margin-top: 2em;
}
.page_layout::after {
  clear: both;
  content: "";
  display: table;
}
@media screen and (min-width: 53.75em) {
  .page_layout--two-thirds-left > div:nth-of-type(1) {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%;
  }
  .page_layout--two-thirds-left > div:nth-of-type(1):last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 53.75em) {
  .page_layout--two-thirds-left > div:nth-of-type(2) {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
  }
  .page_layout--two-thirds-left > div:nth-of-type(2):last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 53.75em) {
  .page_layout--two-thirds-right > div:nth-of-type(1) {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
  }
  .page_layout--two-thirds-right > div:nth-of-type(1):last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 53.75em) {
  .page_layout--two-thirds-right > div:nth-of-type(2) {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%;
  }
  .page_layout--two-thirds-right > div:nth-of-type(2):last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 53.75em) {
  .page_layout--sidebar-left > div:nth-of-type(1) {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%;
  }
  .page_layout--sidebar-left > div:nth-of-type(1):last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 53.75em) {
  .page_layout--sidebar-left > div:nth-of-type(2) {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 74.4105871005%;
  }
  .page_layout--sidebar-left > div:nth-of-type(2):last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 53.75em) {
  .page_layout--sidebar-right > div:nth-of-type(1) {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 74.4105871005%;
  }
  .page_layout--sidebar-right > div:nth-of-type(1):last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 53.75em) {
  .page_layout--sidebar-right > div:nth-of-type(2) {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%;
  }
  .page_layout--sidebar-right > div:nth-of-type(2):last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 53.75em) {
  .page_layout--columns {
    display: flex;
    flex-wrap: wrap;
    margin: -0.5em;
  }
}
@media screen and (min-width: 53.75em) {
  .page_layout--columns > div {
    flex: 1 0 4em;
    margin: 0.5em;
    background: #ccc;
  }
}

footer.doc-foot > div:nth-of-type(1),
footer.doc-foot > div:nth-of-type(2) {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em 1em;
}
footer.doc-foot > div:nth-of-type(1)::after,
footer.doc-foot > div:nth-of-type(2)::after {
  clear: both;
  content: "";
  display: table;
}
@media screen and (min-width: 40em) {
  footer.doc-foot > div:nth-of-type(2) > div {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%;
  }
  footer.doc-foot > div:nth-of-type(2) > div:last-child {
    margin-right: 0;
  }
}

/* The Fukol CSS 'grid system' */
.flex_grid {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5em;
}

.flex_grid > * {
  flex: 1 0 4em;
  margin: 0.5em;
}

.flex_grid > * {
  background: #222;
  padding: 1em;
  color: #fff;
  text-align: center;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?ps4amc");
  src: url("fonts/icomoon.eot?#iefixps4amc") format("embedded-opentype"), url("fonts/icomoon.woff?ps4amc") format("woff"), url("fonts/icomoon.ttf?ps4amc") format("truetype"), url("fonts/icomoon.svg?ps4amc#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}

.icon-chevron-left:before {
  content: "\f053";
}

.icon-chevron-right:before {
  content: "\f054";
}

.icon-navicon:before {
  content: "\f0c9";
}

.icon-envelope:before {
  content: "\f0e0";
}

.icon-newspaper:before {
  content: "\e605";
}

.icon-bullhorn:before {
  content: "\e606";
}

.icon-bubbles:before {
  content: "\e607";
}

.icon-googleplus:before {
  content: "\e600";
}

.icon-facebook:before {
  content: "\e601";
}

.icon-twitter:before {
  content: "\e602";
}

.icon-linkedin:before {
  content: "\e603";
}

.icon-pinterest:before {
  content: "\e604";
}

.bxslider-load {
  visibility: hidden;
}

.hero.secondary {
  text-align: center;
  line-height: 0;
}

.hero.secondary img {
  width: 100%;
}

.hero {
  border-bottom: 12px solid #019dbe;
  color: #fff;
  text-align: center;
}
.hero h1 {
  font-size: 1.75rem;
  padding: 0 1em;
  line-height: 1em;
  font-weight: 700;
  text-shadow: 1px 1px 1px #333;
}
@media screen and (min-width: 40em) {
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 0.25em;
    max-width: 600px;
  }
}
@media screen and (min-width: 53.75em) {
  .hero h1 {
    font-size: 3.5rem;
    margin-bottom: 0.25em;
    max-width: 800px;
  }
}
.hero p {
  padding: 0 2em;
  line-height: normal;
  opacity: 0.9;
  font-size: 1.125rem;
  text-shadow: 1px 1px 1px #333;
  font-weight: 700;
}
.hero__slide {
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__content {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 53.75em) {
  .hero__content {
    height: 600px;
  }
}
@media screen and (min-width: 80em) {
  .hero__content {
    height: 820px;
  }
}
.hero.parallax > div {
  max-width: none;
}

/* Additional Content Style */
/* Typography and Images */
.doc-content img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.green-text {
  color: #69aa44;
}

.cta-button {
  padding: 15px 25px 15px 25px;
  border: 1px solid #bf4030;
  border-radius: 0.1875em;
  background: #963226;
  color: #fff;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: "Bitter", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.cta-button:hover {
  background: #bf4030;
  color: #fff;
  border: 1px solid #cc5200;
}

h1.icon {
  position: relative;
  padding-left: 45px;
}
h1.icon i {
  position: absolute;
  left: 0;
  top: 5px;
}
h1.icon.green {
  color: #69aa44;
}
h1.icon.blue {
  color: #019dbe;
}
h1.icon.red {
  color: #bf4030;
}

.more-info {
  font-size: 0.75rem;
  text-transform: uppercase;
  position: relative;
  padding-right: 12px;
  font-weight: 700;
}
.more-info:after {
  content: "\003e";
  position: absolute;
  right: 2px;
  top: 0;
}

/* WP Tweaks */
.aligncenter,
div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignleft {
  float: left;
  margin: 0 10px 10px 0;
}

.alignright {
  float: right;
  margin: 0 10px 10px 0;
}

.wp-caption {
  border: 1px solid #efefef;
  text-align: center;
  background-color: #fff;
  padding-top: 4px;
  margin: 10px;
  border-radius: 0.1875em;
}

.wp-caption img {
  margin: 0;
  padding: 0;
  border: 0 none;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  padding: 0 4px 5px;
  margin: 0;
}

.bx-wrapper .bx-controls-direction a {
  z-index: 999 !important;
}

.module {
  margin-top: 2em;
  margin-bottom: 2em;
}
.module--three-col > div {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
.module--three-col > div::after {
  clear: both;
  content: "";
  display: table;
}
@media screen and (min-width: 40em) {
  .module--three-col > div article,
  .module--three-col > div > div {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
  }
  .module--three-col > div article:last-child,
  .module--three-col > div > div:last-child {
    margin-right: 0;
  }
}
.module--intro > div {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
.module--intro > div::after {
  clear: both;
  content: "";
  display: table;
}
.module--news-buckets > div {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
.module--news-buckets > div::after {
  clear: both;
  content: "";
  display: table;
}
@media screen and (min-width: 40em) {
  .module--news-buckets > div article,
  .module--news-buckets > div > div {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
  }
  .module--news-buckets > div article:last-child,
  .module--news-buckets > div > div:last-child {
    margin-right: 0;
  }
}
.module--news-buckets article h1 {
  font-size: 1.125em;
  font-weight: 400;
}
.module--news-buckets article p {
  font-size: 0.8125em;
  line-height: normal;
}
.module--news-buckets article img {
  display: block;
  margin-bottom: .5em;
  padding: 4px;
  border: 1px solid #d6d6d6;
  background: #fff;
  border-radius: 0.1875em;
}
.module--news-buckets article .meta {
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
}
.module--callouts {
  text-align: center;
}
.module--callouts > div {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
.module--callouts > div::after {
  clear: both;
  content: "";
  display: table;
}
@media screen and (min-width: 40em) {
  .module--callouts > div article,
  .module--callouts > div > div {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
  }
  .module--callouts > div article:last-child,
  .module--callouts > div > div:last-child {
    margin-right: 0;
  }
}
.module--callouts > div > div {
  border-top: 1px solid #efefef;
}
@media screen and (min-width: 40em) {
  .module--callouts > div > div {
    border-left: 1px solid #019dbe;
    border-top: none;
    padding-left: 1em;
    min-height: 200px;
  }
  .module--callouts > div > div:first-child {
    border-left: none;
    padding-left: 0;
  }
}

/* Bourbon Refills http://refills.bourbon.io/ */
/* Accordion */
.accordion {
  background-color: white;
  border: 1px solid #efefef;
  margin: 0 0 1.5em 0;
  padding: 0;
}
.accordion ul {
  margin: 0;
  padding: 0;
}
.accordion li {
  border-bottom: 1px solid #efefef;
  list-style: none;
}
.accordion li > a {
  color: #333;
  display: block;
  padding: 0.75em 1.618em;
  text-decoration: none;
}
.accordion li:last-child {
  border: none;
}
.accordion li:focus, .accordion li:hover {
  background-color: white;
}
.accordion ul.submenu {
  display: none;
}
.accordion ul.submenu li {
  background-color: #f2f2f2;
}
.accordion ul.submenu li:first-child {
  border-top: 1px solid #efefef;
  box-shadow: inset 0 1px 1px #e3e3e3;
}
.accordion ul.submenu li:focus, .accordion ul.submenu li:hover {
  background-color: #f7f7f7;
}
.accordion .is-expanded {
  display: block;
  padding-bottom: 0;
}

/* Accordion Tabs */
.accordion-tabs {
  line-height: 1.5;
  margin-bottom: 1.5em;
  padding: 0;
}
.accordion-tabs::after {
  clear: both;
  content: "";
  display: table;
}
@media screen and (max-width: 40em) {
  .accordion-tabs {
    border-radius: 0.1875em;
    border: 1px solid #efefef;
  }
}
.accordion-tabs .tab-header-and-content {
  list-style: none;
}
@media screen and (min-width: 40em) {
  .accordion-tabs .tab-header-and-content {
    display: inline;
  }
}
.accordion-tabs .tab-header-and-content:first-child .tab-link {
  border-top-left-radius: 0.1875em;
  border-top-right-radius: 0.1875em;
}
@media screen and (max-width: 40em) {
  .accordion-tabs .tab-header-and-content:first-child .tab-link {
    border-top: 0;
  }
}
@media screen and (max-width: 40em) {
  .accordion-tabs .tab-header-and-content:last-child .tab-link {
    border-bottom-left-radius: 0.1875em;
    border-bottom-right-radius: 0.1875em;
  }
}
.accordion-tabs .tab-link {
  background-color: white;
  border-top: 1px solid #efefef;
  color: #333;
  display: block;
  padding: 0.75em 0.809em;
  text-decoration: none;
}
@media screen and (min-width: 40em) {
  .accordion-tabs .tab-link {
    display: inline-block;
    border-top-left-radius: 0.1875em;
    border-top-right-radius: 0.1875em;
    border-top: 0;
  }
}
.accordion-tabs .tab-link:hover {
  color: #477DCA;
}
.accordion-tabs .tab-link:focus {
  outline: none;
}
.accordion-tabs .tab-link.is-active {
  background-color: white;
}
@media screen and (min-width: 40em) {
  .accordion-tabs .tab-link.is-active {
    background-color: white;
    border: 1px solid #efefef;
    border-bottom-color: white;
    margin-bottom: -1px;
  }
}
.accordion-tabs .tab-content {
  background: white;
  display: none;
  padding: 1.5em 1.618em;
  width: 100%;
}
@media screen and (min-width: 40em) {
  .accordion-tabs .tab-content {
    border-bottom-left-radius: 0.1875em;
    border-bottom-right-radius: 0.1875em;
    border-top-right-radius: 0.1875em;
    border: 1px solid #efefef;
    float: left;
  }
}

/* Fade In */
.fade-in-element {
  background: white;
  border-radius: 0.1875em;
  border: 1px solid silver;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  line-height: 1.5em;
  margin-bottom: 4em;
  padding: 1.5em;
  text-align: center;
  width: 100%;
}
.fade-in-element::after {
  clear: both;
  content: "";
  display: table;
}
.fade-in-element p {
  color: #333;
  line-height: 1.5em;
}

@media screen and (min-width: 40em) {
  .js-fade-element-hide {
    opacity: 0;
  }
}

.js-fade-element-show {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 1;
}

/* Modal */
.modal label {
  cursor: pointer;
  margin-bottom: 0;
}
.modal label img {
  border-radius: 150px;
  display: block;
  max-width: 300px;
}
.modal .modal-state {
  display: none;
}
.modal .modal-trigger {
  padding: 0.8em 1em;
}
.modal .modal-fade-screen {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  padding-top: 0.6em;
  text-align: left;
  visibility: hidden;
  z-index: 99999999999;
}
@media screen and (min-width: 53.75em) {
  .modal .modal-fade-screen {
    padding-top: 10em;
  }
}
.modal .modal-fade-screen .modal-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.modal .modal-close {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  height: 1.5em;
  width: 1.5em;
  background: #fff;
  cursor: pointer;
}
.modal .modal-close:after, .modal .modal-close:before {
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 0;
  left: 50%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 1.5em;
  width: 0.15em;
  background: #efefef;
  content: '';
  display: block;
  margin: -3px 0 0 -1px;
}
.modal .modal-close:hover:after, .modal .modal-close:hover:before {
  background: #d6d6d6;
}
.modal .modal-close:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.modal .modal-inner {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  background: #fff;
  border-radius: 0.1875em;
  margin-top: 0;
  margin: auto;
  max-height: 95%;
  overflow: auto;
  padding: 1.5em;
  position: relative;
  width: 95%;
}
@media screen and (min-width: 40em) {
  .modal .modal-inner {
    max-height: 70%;
    padding: 3em;
    width: 60%;
  }
}
@media screen and (min-width: 53.75em) {
  .modal .modal-inner {
    width: 50%;
  }
}
.modal .modal-inner h1 {
  color: #333;
  margin-bottom: 0 0 0.6em 0;
  text-align: left;
  text-transform: capitalize;
}
.modal .modal-inner p {
  color: #333;
  line-height: 1.5em;
}
.modal .modal-inner .modal-intro {
  margin-bottom: 1em;
}
.modal .modal-inner .modal-content {
  color: #333;
}
@media screen and (min-width: 40em) {
  .modal .modal-inner .modal-content {
    -webkit-columns: 2 8em;
    -moz-columns: 2 8em;
    columns: 2 8em;
  }
}
.modal .modal-inner a.cta {
  color: #fff;
  display: inline-block;
  margin-right: 0.5em;
  margin-top: 1em;
}
.modal .modal-inner a.cta:last-child {
  padding: 0 2em;
}
.modal .modal-state:checked + .modal-fade-screen {
  opacity: 1;
  visibility: visible;
}
.modal .modal-state:checked + .modal-fade-screen .modal-inner {
  top: 0.5em;
}

.modal-open {
  overflow: hidden;
}

/* Parallax */
.parallax-window {
  max-height: 20em;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.parallax-static-content {
  color: #9A9A8A;
  padding: 8em 0;
  position: relative;
  z-index: 9;
}

.parallax-background {
  background: url("/wp-content/themes/bitclone-wordpress-canvas/images/hero-default.jpg") repeat;
  background-position: top;
  background-size: cover;
  background-color: beige;
  height: 40em;
  left: 0;
  position: absolute;
  top: -6.6666666667em;
  width: 100%;
}

/* Expander */
.expander {
  width: 60%;
}
.expander .expander-trigger {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: 1px solid #efefef;
  color: #477DCA;
  cursor: pointer;
  display: block;
  font-size: 1em;
  margin-bottom: 1em;
  padding-bottom: 0.25em;
  text-decoration: none;
}
.expander .expander-trigger:before {
  font-size: 0.7em;
  content: "\25BC";
  margin-right: 0.5em;
}
.expander .expander-content p {
  color: #333;
  line-height: 1.5em;
}
.expander .expander-hidden:before {
  font-size: 0.7em;
  content: "\25BA";
}
.expander .expander-hidden + .expander-content {
  display: none;
}

/**
 * BxSlider v4.1.3 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
}

.bx-wrapper img {
  max-width: 100%;
  display: block;
}

.bxslider {
  margin: 0;
  padding: 0;
}

.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
}

/** THEME
===================================*/
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../images/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url(../images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
  right: 10px;
  background: url(../images/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}

.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(../images/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(../images/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666 \9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

/*
	jQuery.mmenu CSS
*/
/*
	jQuery.mmenu panels CSS
*/
.mm-menu.mm-horizontal > .mm-panel {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
}

.mm-menu .mm-hidden {
  display: none;
}

.mm-wrapper {
  overflow-x: hidden;
  position: relative;
}

.mm-menu,
.mm-menu > .mm-panel {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.mm-menu {
  background: inherit;
  display: block;
  overflow: hidden;
  padding: 0;
}

.mm-menu > .mm-panel {
  background: inherit;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 20px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.mm-menu > .mm-panel.mm-opened {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.mm-menu > .mm-panel.mm-subopened {
  -webkit-transform: translateX(-30%);
  transform: translateX(-30%);
}

.mm-menu > .mm-panel.mm-highest {
  z-index: 1;
}

.mm-menu .mm-list {
  padding: 20px 0;
}

.mm-menu > .mm-list {
  padding-bottom: 0;
}

.mm-menu > .mm-list:after {
  content: '';
  display: block;
  height: 40px;
}

.mm-panel > .mm-list {
  margin-left: -20px;
  margin-right: -20px;
}

.mm-panel > .mm-list:first-child {
  padding-top: 0;
}

.mm-list,
.mm-list > li {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}

.mm-list {
  font: inherit;
  font-size: 14px;
}

.mm-list a,
.mm-list a:hover {
  text-decoration: none;
}

.mm-list > li {
  position: relative;
}

.mm-list > li > a,
.mm-list > li > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: inherit;
  line-height: 20px;
  display: block;
  padding: 10px 10px 10px 20px;
  margin: 0;
}

.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):after {
  content: '';
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):after {
  width: auto;
  margin-left: 20px;
  position: relative;
  left: auto;
}

.mm-list a.mm-subopen {
  background: rgba(3, 2, 1, 0);
  width: 40px;
  height: 100%;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.mm-list a.mm-subopen:before {
  content: '';
  border-left-width: 1px;
  border-left-style: solid;
  display: block;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.mm-list a.mm-subopen.mm-fullsubopen {
  width: 100%;
}

.mm-list a.mm-subopen.mm-fullsubopen:before {
  border-left: none;
}

.mm-list a.mm-subopen + a,
.mm-list a.mm-subopen + span {
  padding-right: 5px;
  margin-right: 40px;
}

.mm-list > li.mm-selected > a.mm-subopen {
  background: transparent;
}

.mm-list > li.mm-selected > a.mm-fullsubopen + a,
.mm-list > li.mm-selected > a.mm-fullsubopen + span {
  padding-right: 45px;
  margin-right: 0;
}

.mm-list a.mm-subclose {
  text-indent: 20px;
  padding-top: 30px;
  margin-top: -20px;
}

.mm-list > li.mm-label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 10px;
  text-transform: uppercase;
  text-indent: 20px;
  line-height: 25px;
  padding-right: 5px;
}

.mm-list > li.mm-spacer {
  padding-top: 40px;
}

.mm-list > li.mm-spacer.mm-label {
  padding-top: 25px;
}

.mm-list a.mm-subopen:after,
.mm-list a.mm-subclose:before {
  content: '';
  border: 2px solid transparent;
  display: inline-block;
  width: 7px;
  height: 7px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-bottom: -5px;
  position: absolute;
  bottom: 50%;
}

.mm-list a.mm-subopen:after {
  border-top: none;
  border-left: none;
  right: 18px;
}

.mm-list a.mm-subclose:before {
  border-right: none;
  border-bottom: none;
  margin-bottom: -15px;
  left: 22px;
}

.mm-menu.mm-vertical .mm-list .mm-panel {
  display: none;
  padding: 10px 0 10px 10px;
}

.mm-menu.mm-vertical .mm-list .mm-panel li:last-child:after {
  border-color: transparent;
}

.mm-menu.mm-vertical .mm-list li.mm-opened > .mm-panel {
  display: block;
}

.mm-menu.mm-vertical .mm-list > li > a.mm-subopen {
  height: 40px;
}

.mm-menu.mm-vertical .mm-list > li > a.mm-subopen:after {
  top: 16px;
  right: 16px;
  bottom: auto;
}

.mm-menu.mm-vertical .mm-list > li.mm-opened > a.mm-subopen:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mm-menu.mm-vertical .mm-list > li.mm-label > a.mm-subopen {
  height: 25px;
}

html.mm-opened .mm-page {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.mm-menu {
  background: #333333;
  color: rgba(255, 255, 255, 0.6);
}

.mm-menu .mm-list > li:after {
  border-color: rgba(0, 0, 0, 0.15);
}

.mm-menu .mm-list > li > a.mm-subclose {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.mm-menu .mm-list > li > a.mm-subopen:after, .mm-menu .mm-list > li > a.mm-subclose:before {
  border-color: rgba(255, 255, 255, 0.3);
}

.mm-menu .mm-list > li > a.mm-subopen:before {
  border-color: rgba(0, 0, 0, 0.15);
}

.mm-menu .mm-list > li.mm-selected > a:not(.mm-subopen),
.mm-menu .mm-list > li.mm-selected > span {
  background: rgba(0, 0, 0, 0.1);
}

.mm-menu .mm-list > li.mm-label {
  background: rgba(255, 255, 255, 0.05);
}

.mm-menu.mm-vertical .mm-list li.mm-opened > a.mm-subopen,
.mm-menu.mm-vertical .mm-list li.mm-opened > ul {
  background: rgba(255, 255, 255, 0.05);
}

/*
	jQuery.mmenu offcanvas addon CSS
*/
.mm-page {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
}

html.mm-opened {
  overflow: hidden;
  position: relative;
}

html.mm-opened body {
  overflow: hidden;
}

html.mm-opened .mm-page {
  box-sizing: border-box;
  position: relative;
}

html.mm-background .mm-page {
  background: inherit;
}

#mm-blocker {
  background: rgba(3, 2, 1, 0);
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}

html.mm-opened #mm-blocker,
html.mm-blocking #mm-blocker {
  display: block;
}

.mm-menu.mm-offcanvas {
  display: none;
  position: fixed;
}

.mm-menu.mm-current {
  display: block;
}

.mm-menu {
  width: 80%;
  min-width: 140px;
  max-width: 440px;
}

html.mm-opening .mm-page,
html.mm-opening #mm-blocker {
  -webkit-transform: translate(80%, 0);
  transform: translate(80%, 0);
}

@media all and (max-width: 175px) {
  html.mm-opening .mm-page,
  html.mm-opening #mm-blocker {
    -webkit-transform: translate(140px, 0);
    transform: translate(140px, 0);
  }
}
@media all and (min-width: 550px) {
  html.mm-opening .mm-page,
  html.mm-opening #mm-blocker {
    -webkit-transform: translate(440px, 0);
    transform: translate(440px, 0);
  }
}

/*# sourceMappingURL=app.css.map */
