// ----------------------------------------
// // --- Buttons ---
// ----------------------------------------
button {
  font-size: 100%; /* Corrects font size not being inherited in all browsers */
  margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  @include button;
}
.button {
  &--cta {
    border: 1px solid $secondary-color;
    border-radius: $base-border-radius;
    background: $secondary-color;
    color: $c-white;
    display: inline-block;
    font-weight: 700;
    padding: 5px 15px;
    @include font-size(14);
    @include transition (all .2s ease-in-out);
    &:hover,
    &:focus,
    &:active {
      background: lighten($secondary-color, 10%);color: $c-white;border: 1px solid darken($c-green, 10%);
    }
    @include breakpoint($bp-small) {
      line-height: 40px;
      padding: 0 15px;
    }
  }
}
