.co_content-full {
  @include container;
  max-width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  article {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
  }
  &.full_white_bgr {background-color: $c-white;}
  &.full_gray_bgr {background-color: $c-grayLight;}
  &.full_green_bgr {
    background-color: $secondary-color; 
    color: $c-white;
    strong {color: $c-white;}
    h1, h2, h3, h4, h5, h6 {color: $c-white;}
    .button {background: $primary-color;}
    .button:hover, .button:focus, .button:active {background: lighten($primary-color, 10%);}
  }
}
.page-id-1319 .co_content-full.full_gray_bgr {padding-bottom: 10px; padding-top: 1em;}

.page-id-1319 .co_content-full.full_gray_bgr p {margin-bottom: .5em;}