.co_content-full-bgr {
  @include container;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  article {
    max-width: 45em;
    margin-left: auto;
    margin-right: auto;
    padding: 3em 1em 2em 1em;
    color: $c-white;
    &.fullbgr_white_bgr {
      background: rgba(255, 255, 255, 0.7); 
      color: $c-black; 
      border-radius: 15px;
    }
    &.fullbgr_clear_bgr {
      h1, h2, h3, h4, h5, h6 {color: $c-white;}
    }
    &.fullbgr_left {
      max-width: 40em;
      @include breakpoint($bp-large) {margin-left: 25em;} 
    }
    &.fullbgr_right { 
      max-width: 40em;
      @include breakpoint($bp-large) {margin-right: 25em;}
    }
  }
  img {
    width: 100%;
  }
  .full-width-bgr {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    position: relative;
    padding: 4em 0 4em 0;
  }
}
