.co.co_page-hero {
  margin-top: 0;
  margin-bottom: 0;
}
.co_page-hero {
  color: $c-white;
  img {
    width: 100%;
  }
  .full-width-bgr {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
  }
  h1 {
    color: $c-white;
    position: absolute;
    bottom: 1em;
    font-size: 2.5em;
    border-bottom: 2px solid $c-white;
  }
  .full-hero {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
  }
}