.co_content-video {
  @include container;
  padding-top: 2em;
  padding-bottom: 2em;
  article {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
  }
  .embed-container {text-align: center;}
}
