.co_layout {
  @include container;
  margin-top: $site-vertical;
  margin-bottom: $site-vertical;
  &--full {

  }
  &--sidebar {
    ul {
      list-style: none;
      margin: 0;
    }
    .co_layout__sidebar {margin-top: 2em;}
    @include breakpoint($bp-medium) {
    display: flex;
    .co_layout__content {
      width: 75%;
    }
    .co_layout__sidebar {
      width: 25%;
      padding-left: 20px;
      margin-top: 0;
    }
    }
  }
}
