.bxslider-load {
  visibility: hidden; // hide until slides loaded
}
.bx-wrapper .bx-viewport {
	box-shadow: none !important;
	border: none !important;
	background: transparent !important;
	position: static !important; /* This is relative on the element via js...seems to push it left */
}
.co_slider {
  border-bottom: 12px solid $primary-color;
  color: $c-white;
  text-align: center;
  h1 {
    color: $c-white;
    @include font-size(28);
    line-height: 1em;
    font-weight: 700;
    text-shadow: 1px 1px 1px $c-grayDark;
    @include breakpoint($bp-medium) {
      @include font-size(40);
      margin-bottom: 0.25em;
      max-width: 600px;
    }
    @include breakpoint($bp-large) {
      @include font-size(50);
      margin-bottom: 0.25em;
      max-width: 800px;
    }
  }
  p {
    opacity: 0.9;
    text-shadow: 1px 1px 1px $c-grayDark;
    font-weight: 700;
    @include breakpoint($bp-medium) {font-size: 22px;}
    @include breakpoint($bp-large) {font-size: 30px;}
  }

  &__slide {
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__content {
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 400px;
    justify-content: center;
    text-align: center;
    padding: 40px;
    max-width: 1224px;
    margin: auto;
    &.align_left {
      @include breakpoint($bp-large) {
        align-items: flex-start;
        text-align: left;
      }
    }
    &.align_right {
      @include breakpoint($bp-large) {
        align-items: flex-end;
        text-align: right;
      }
    }
    h1 {
      max-width: 600px;
    }
    p {
      max-width: 500px;
    }
    @include breakpoint($bp-large) {
      height: 960px;
    }
    @include breakpoint($bp-huge) {
      height: 1200px;
    }
  }
}