.co {
  @include section-margin;
  &_content-three-col {
    @include columns(30% , 3);
  }
  &_content-two-col {
    @include columns(48%, 2);
  }
  &_intro {
    > div {
      @include container;
    }
  }
  &_content-accordion-faq {
    @include container;
    .accordion-faq-wrap {
    cursor: pointer;
    margin-left: 20px;
    .accordion-faq-content {display: none;}
    h4.toggle-arrow {
      position: relative;
      &:before {
        content: '+';
        color: $secondary-color;
        position: absolute;
        left: -20px;
      }
    }
    &.active {
      .accordion-faq-content {display: block;}
      h4.toggle-arrow {
        &:before {
          content: '-';
          color: $secondary-color;
          position: absolute;
          left: -20px;
        }
      }
    }
  }
}
  &_featured-posts {
    &__title {
      @include container;
      margin-bottom: $site-vertical/2;
    }
    &__content {
      @include columns(30%, 3);
    }
    article {
      h2 {
        font-size: em(18);
        font-weight: 400;
      }
      img {
        display: block;
        margin-bottom: .5em;
        @include img-border;
      }
      .meta {font-size: em(12);font-weight: 400;color: #000;}
    }
  }
  &_callouts {
    text-align: center;
    padding-bottom: 2em;
    &.full_white_bgr {background-color: $c-white;}
    &.full_gray_bgr {background-color: $c-grayLight;}
    > div {
      @include container;
    }
    div.three-steps {@include columns(30%, 3); padding-top: 1.5em;}
    div.three-steps div.called {
      display: flex;
      flex-direction: column;
      position: relative;
      border-top: 1px solid $c-grayLight;
      padding-top: 1em;
      @include breakpoint($bp-medium) {
      	border-left: 1px solid $primary-color;
      	border-top: none;
      	padding-left: 1em;
      	min-height: 200px;
      	&:first-child {border-left: none;padding-left: 0;padding-right: 1em;}
      }
      &__content {margin-top: auto; flex: 1 1 0;}
      &__media {margin-top: auto; flex: 1 1 0; min-height: 100px;}
      i {
        color: $c-green; 
        font-size: 3.5em;
        @include breakpoint($bp-medium) {position: absolute; top: 25px; left: 2.25em;}
      }
      @include breakpoint($bp-medium) {
      	border-top: none;
      	padding-left: 1em;
      	min-height: 200px;
      	&:first-child {border-left: none;padding-left: 0;padding-right: 1em;}
      }
    }
  }
  &_three_step_callout {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 2em;
    &.full_white_bgr {background-color: $c-white;}
    &.full_gray_bgr {background-color: $c-grayLight;}
    strong {color: $c-blueDark;}
    > div {@include container;}
    .button {font-size: 2rem; border: 3px solid darken($secondary-color, 10%);}
    div.three-steps {@include columns(30%, 3); padding-top: 1.5em;}
    div.called {
      display: flex;
      flex-direction: column;
      position: relative;
      &__content {margin-top: auto; flex: 1 1 0;}
      &__media {margin-top: auto; flex: 1 1 0; min-height: 100px;}
      i {
        color: $c-blueDark; 
        font-size: 3.5em;
        @include breakpoint($bp-medium) {position: absolute; top: 25px; left: 2.25em;}
      }
      @include breakpoint($bp-medium) {
      	border-top: none;
      	padding-left: 1em;
      	min-height: 200px;
      	&:first-child {border-left: none;padding-left: 0;padding-right: 1em;}
      }
    }
  }
}
.co_hero.secondary.full-width-bgr {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
}
