// ----------------------------------------
// // --- footer ---
// ----------------------------------------
footer.doc_foot {
	color: #fff;
	background: $c-blueDark;
	a {
		text-decoration: underline;
    color: $c-white;
		&:hover {color: #fff;}
  }
  	section.foot-wrap {position: relative;}
	.foot_nav {
		margin-top: 30px;
		@include container;
		ul {
			margin-bottom: .5em;
			padding-top: .5em;
			margin-left: 0;
			@include breakpoint($bp-medium) {
				border-top: none;
				padding: 0 1em;
			}
			li {
				line-height: normal;
				text-transform: uppercase;
				@include font-size(14);
				margin-bottom: .5em;
				font-family: $secondary-font-family;
				font-weight: 700;
				padding: .5em 0;
			}
		}
		@include breakpoint($bp-medium) {
			display: flex;
			justify-content: space-between;
			ul {width: 25%;}
			div {width: 33%;}
		}
		h5 {color: $c-white; border-bottom: 2px solid $c-white; padding-top: .5em;}
	}
	.foot_legal {
		@include container;
		@include group;
		padding-bottom: 20px;
		i {@include font-size(30);}
		p {@include font-size(12); text-align: center;}
		ul {
				clear: both;
				padding-top: 5px;
				li {display: inline-block;}
				@include breakpoint($bp-medium){
					float: right;
					max-width: 400px;
					clear: none;
				}
			}
			@include breakpoint($bp-medium) {
				padding-bottom: 0px;
			}
		}
}

footer.doc_foot li .more-info {
	&:after {
		top:-4px;
	}
}
.fixed_footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: rgba(51, 51, 51, 0.8);
	@include breakpoint($bp-medium) { display: none !important;}
	.footer-cta {
		float: right;
		.cta-button {
			padding: 6px 10px 0 10px;
			margin: 5px 0;
			margin-right: 15px;
			height: 37px;
			font-size: rem(14);
			@include breakpoint($bp-large) {
				padding: 10px 25px 10px 25px;
				margin-top: 7px;
				margin-right: 0;
				height: auto;
				font-size: rem(18);
			}
		}
	}
}
.pagination-block {
	max-width: 500px;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	ul {
    display: flex;
	margin: 0;
	}
	li {
		flex: 1 1 auto;
		border-left: 1px solid #fff;
		position: relative;
	}
}

.doc-content.footer-quotes {
	border-top: 12px solid $secondary-color;
	border-bottom: 12px solid $secondary-color;
	padding-bottom: 40px;
	padding-top: 1.5em;
	margin-bottom: 0;
	margin-top: 0;
	position: relative;
	box-sizing: border-box;
}
.doc-content.footer-quotes div.footer_content-full {
	max-width: 68em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
}
.quote-slider {
	margin-top: 1em;
	margin-bottom: 1em;
	blockquote {color: $c-black;}
	cite {display: block;text-align: right;font-size: em(12); color: $c-grayMedium;}
}
.footer-quotes blockquote {
		min-height: 100px;
		@include breakpoint($bp-medium) { min-height: 0;}
}
.footer-quotes ul.desk-quote li {
	padding-bottom: 80px;
}
.quote-slider {
	margin: 0;
	&.mob-quote {
		display: block;
		li {
			padding-bottom: 60px;
		}
		@include breakpoint($bp-medium) { display: none;}
	}
	&.desk-quote{
		display: none;
		@include breakpoint($bp-medium) { display: block;}
	}
}
.bx-wrapper .bx-viewport {
	box-shadow: none !important;
	border: none !important;
	background: transparent !important;
	position: static !important; /* This is relative on the element via js...seems to push it left */
}
section.footer-quotes .bx-controls.bx-has-controls-direction {
	display: block;
	@include breakpoint($bp-medium) { display: none;}
}

div.foot_nav ul.social {
	float: left;
	clear: none;
	padding-left: 0;
	width: 100%;
	li {display: inline-block; padding-right: 10px;}
	a {text-decoration: none;}
	a:hover {color: $secondary-color;}
	i {font-size: 2.25em;}
}