// ----------------------------------------
// // --- header ---
// ----------------------------------------
// .doc_wrap {
// 	@include breakpoint($bp-large) {padding-top: 102px;}
// }
// .admin-bar .doc_head {
// 	@include breakpoint($bp-large) {top:32px;}
// }

.doc_head {
	@include group;
	background: transparent;
	z-index: 9999;
	@include breakpoint($bp-large) {padding-top: 20px;}
	&__top {
		@include container;
		align-items: center;
		display: flex;
		height: 60px;
	}
	&__right {
		margin-left: auto;
		display: flex;
		align-items: center;
		padding-right: 35px;
		@include breakpoint($bp-large) {
			padding-right: 0;
		}
	}
	&__logo {
		align-items: center;
		display: flex;
		height: 55px;
		position: relative;
		padding-right: 5px;
		a {
			line-height: 0; //stops logo shift when linked
		}
		img {
			max-height: 55px;
			width: auto;
			@include breakpoint($bp-large) {

			}
		}
	}
	@include breakpoint($bp-large) {
	height: auto;
	position: absolute;
	top:0;
	width: 100%;}
	&.isScrolling {
		@include breakpoint($bp-large) {
		 position: fixed;
		 background: #FFF;
		}
	}
	transition: all .25s ease-in-out;
}

.doc_head__search {
	display: none;
	background: rgba(255,255,255,.75);
	height: 100vh;
	padding: 2em 0;
	text-align: center;
	z-index: 9999;
	position: relative;
	.js-search-close {
		position: absolute;
		right: 20px;
		top: 20px;
	}
	.co-search_form { padding-top: 140px;}
	input {max-width: 400px;width: 100%;height: 40px;color: $c-black;}
	button, input, span,label {display: inline-block;}
	button {
		line-height: 40px;
		padding: 0 20px;
		vertical-align: top;
		background: darken($primary-color, 5%);}
	input, label {
		margin-right: 5px;
	}
	input[type="search"] {
		border: 1px solid lighten($primary-color, 5%);
		height: 40px;
		padding: 0 5px;
	}
	label {
		color: $primary-color;
		font-size: em(12);
		text-transform: uppercase;
		font-weight: 700;
	}
}
.icon-search {
	display: none;
	@include breakpoint($bp-large) {
		display: block;
		position: absolute;
		right: -5px;
		font-size: em(24);
		top: 10px;
		color: darken($c-grayMedium, 10%);
		cursor: pointer;
		// &.active{color: $c-green;}
	}
}