// ----------------------------------------
// // --- navigation ---
// ----------------------------------------
.admin-bar {
	.hamburger_toggle {
		top: 50px;
	}
	.main_menu.active {
		padding-top: 60px;
	}
}
.submenu-trigger {
	display: none;
}
.main_menu.active {
	@include font-size(24);
	background: $c-white;
	display: block;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9999;
	height: 100%;
	padding-top: 20px;
	> ul {
		margin: 0;
		li {
			border-bottom: 1px solid $primary-color;
			li {
				@include font-size(17);
				border-bottom: none;
			}
			&.menu-item-has-children {
				position: relative;
				.submenu-trigger {
					background: transparent;
					display: block;
					width: 0;
				  height: 0;
					content: '';
					cursor: pointer;
					padding: 0;
					position: absolute;
					right: 0;
					top: 6px;
					&:focus {
						outline: none;
					}
					&.active {
						top: 10px;
						right: -5px;
					}
				}
			}
		}
	}
	.main_menu__sub {
		position: static;
    	display: block;
		@include breakpoint($bp-large) {
			display: none;
			&.active {
				display: block;
				margin-bottom: 5px;
			}
		}
	}
}
.main_menu {
	display:none;
	@include container;
	@include font-size(18);
	@include breakpoint($bp-large) {
		display:block;
		height: 40px;
		position: relative;
		width: 100%;
		> ul {
			display:flex;
      margin: 0;
			width:100%;
		}
		> ul li {
      flex: 1 1 auto;
			position: relative;
			text-transform: uppercase;
			font-family: $secondary-font-family;
			font-weight: 700;
			&:last-child {margin-right: 0;}
			&:hover {background: $c-green;}
			&.current-menu-item { > a{color: $c-white; background: $c-green;}}
			&.current-menu-parent { > a{color: $c-white; background: $c-green;}}
			a {
				padding: 0;
				text-align: center;
				display: block;
				line-height: 40px;
			}
			a:hover {color: $c-white;}
		}
		&__sub {
			display: none;
			opacity: 0;
			position: absolute;
			background: $secondary-color;
			margin: 0;
			padding: 10px;
		}
		li:hover ul.main_menu__sub {
			display: flex;
			flex-direction: column;
			opacity: 1;
			width: 100%;
			z-index: 999;
			li {
				line-height: normal;
				padding: 10px 0;
				text-transform: uppercase;
				a {float: none;line-height: normal;}
				&:first-child {border-top: none;}
			}
		}
	}
}
.hamburger_toggle.active {
	.hamburger {
		margin-top: -3px;
		border-top: none;
		border-bottom: none;
		position: relative;
		-moz-transform: rotate(-135deg);
		-o-transform: rotate(-135deg);
		transform: rotate(-135deg);
		&:after {
			content: '';
			border-bottom: 0.2em solid $primary-color;
			display: block;
			position: absolute;
			height: 0.2em;
			width: 100%;
			top: 4px;
			-moz-transform: rotate(270deg);
			-o-transform: rotate(270deg);
			transform: rotate(270deg);

		}
	}
}
.hamburger_toggle {
	position: fixed;
	top: 10px;
	right: 0px;
	z-index: 99999;
  background-color: white;
  border: none;
  border-radius: 0;
  color: $primary-color;
  display: inline-block;
  line-height: 18px;
  margin-left: 5px;
  padding: 10px 20px 10px 10px;
  &:hover,
  &:active {
    color: $primary-color;
    background-color: white;
    border: none;
  }
  &:focus {
    outline: none;
    color: $primary-color;
		background-color: white;
  }
  @include breakpoint($bp-large) {
    display: none;
  }
}
.hamburger {
  border-top: 0.2em solid $primary-color;
  border-bottom: 0.2em solid $primary-color;
  display: block;
  float: left;
  height: 1em;
  width: 1.2em;
  &:before {
    border-bottom: 0.2em solid $primary-color;
    content: "";
    display: block;
    height: 0.2em;
    margin-top: 0.2em;
    width: 100%;
	}
}
ul.main_menu__sub li {border-left: none;}

ul.main_menu__sub li:last-child {border-right: none;}
