/* Additional Content Style */

/* Typography and Images */

.doc-content img {
	max-width: 100%;
	width: auto;
	height: auto;
}
.green-text {color: $green;}
.cta-button {
	padding: 15px 25px 15px 25px;
	border: 1px solid $secondary-accent-color;
	border-radius: $base-border-radius;
	background: darken($secondary-accent-color, 10%);
	color: #fff;
	display: inline-block;
	font-size: rem(18);
	font-weight: 700;
	font-family: $secondary-font-family;
	@include transition (all .2s ease-in-out);
	&:hover {background: $secondary-accent-color;color: #fff;border: 1px solid darken($orange, 10%);}
}
h1.icon {
	position: relative;
	padding-left: 45px;
	i {
		position: absolute;
		left: 0;
		top: 5px;
	}
	&.green {color: $green;}
	&.blue {color: $blue;}
	&.red {color: $red;}
}
.more-info {
	font-size: rem(12);
	text-transform: uppercase;
	position: relative;
	padding-right: 12px;
	font-weight: 700;
	&:after {
		content: "\003e";
		position: absolute;
		right: 2px;
		top:0;
	}
}

/* WP Tweaks */

.aligncenter,
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
	margin: 0 10px 10px 0;
}

.alignright {
	float: right;
	margin: 0 10px 10px 0;
}

.wp-caption {
	border: 1px solid $light-gray;
	text-align: center;
	background-color: #fff;
	padding-top: 4px;
	margin: 10px;
	border-radius: $base-border-radius;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}
.bx-wrapper .bx-controls-direction a {
	z-index: 999 !important;
}
