footer.doc-foot { 
	color: #fff;
	background: $dark-gray;
	padding-bottom: 30px;
	@include media($medium-screen) { padding-bottom: 0;}
	a {
    	color: tint($base-accent-color, 40%);
    	&:hover {color: #fff;}
    	}
	> div:nth-of-type(1) {
		@include outer-container;
		display:table;
		width: 100%;
		ul {
			margin-bottom: .5em;
			padding-top: .5em;
			border-top: 1px solid tint($base-accent-color, 30%);
			@include media($medium-screen) {
				display: table-cell;
				padding: 0 1em;
				border-left: 1px solid tint($base-accent-color, 30%);
				border-top: none;
				&:first-child {border-left: none;}
			}
			li {line-height: normal;}
			li:first-child{
				text-transform: uppercase;
				font-size: rem(14);
				margin-bottom: .5em;
				font-family: $secondary-font-family;
				font-weight: 700;
			}
		}
	}
	> div:nth-of-type(2) {
		i {font-size: em(30);}
		p {font-size: em(12);}
		ul {
				clear: both;
				padding-top: 5px;
				li {display: inline-block;}
				@include media($medium-screen){float: right;max-width: 400px;clear: none;}
			}
		}
}
.doc-content.footer-quotes {
	border-top: 12px solid $base-accent-color;
	padding-bottom: 40px;
	padding-top: 1.5em;
	margin-bottom: 0;
}
.quote-slider {
	margin-top: 1em;
	blockquote {padding: 0 1em 0 2em;border: 0;position: relative;}
	cite {display: block;text-align: right;font-size: em(12); color: $dark-gray;}
	blockquote:before {
	  color: darken($light-gray, 10%);
	  content: "\201C"; /*Unicode for Left Double Quote*/
	  font-size: 4em;
	  line-height: 0em;
	  vertical-align: 0em;
	  position: absolute;
	  top: 20px;
	  left: 5px;
	}
}
.footer-quotes blockquote {
		min-height: 100px;
		@include media($medium-screen) { min-height: 0;}
}
.quote-slider {
	&.mob-quote {
		display: block;
		@include media($medium-screen) { display: none;}
	}
	&.desk-quote{
		display: none;
		@include media($medium-screen) { display: block;}
	}
}
.bx-wrapper .bx-viewport {
	box-shadow: none !important;
	border: none !important;
	background: transparent !important;
	position: static !important; /* This is relative on the element via js...seems to push it left */
}

footer.doc-foot li .more-info {
	&:after {
		top:-4px;
	}	
}
.fixed-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: rgba(51, 51, 51, 0.8);
	@include media($medium-screen) { display: none !important;}
	.footer-cta {
		float: right;
		.cta-button {
			padding: 6px 10px 0 10px;
			margin: 5px 0;
			margin-right: 15px;
			height: 37px;
			font-size: rem(14);
			@include media($large-screen) {
				padding: 10px 25px 10px 25px;
				margin-top: 7px;
				margin-right: 0;
				height: auto;
				font-size: rem(18);
			}
		}
	}
}