.doc-wrap {
	@include media($large-screen) {padding-top: 102px;}
}
.admin-bar .doc-head {
	@include media($large-screen) {top:32px;}
}

.doc-head {
	height: auto;
	.header-top {
		@include clearfix;
		border-bottom: 1px solid $light-gray;
		max-width: none;
		> div {
			@include outer-container;
			padding: 0 1em;
		}
	}
}
.header-cta {
	float: right;
	.cta-button {
		padding: 6px 10px 0 10px;
		margin-top: 12px;
		margin-right: 15px;
		height: 37px;
		font-size: rem(14);
		@include media($large-screen) {
			padding: 10px 25px 10px 25px;
			margin-top: 7px;
			margin-right: 0;
			height: auto;
			font-size: rem(18);
		}
	}
}
.doc-head {
	z-index: 9999;
	background: #fff;
	border-bottom: 1px solid $light-gray;
	@include clearfix;
	@include media($large-screen-up) {
	height: auto;
	position: fixed;
	top:0;
	width: 100%;}
}
.logo-header {
	float: left;
	width: 100%;
	max-width: 100px;
	position: relative;
	height: 60px;
	div {
		text-align: center;
		height: 100%;
		background: url(../images/logo.png) no-repeat center center;
		background-size: 100% auto;
		@include media($large-screen) {background-size: 90% auto;}
		a {width: 100%;height: 100%;display: block;}
	}
	@include media($small-screen) {width: 30%;max-width: 200px;}
	@include media($large-screen) {width: 30%;max-width: 300px;}
}
a.m-btn {
	font-size: 1.5em;
	z-index: 9999;
	color: #fff;
	float: right;
	background: $base-accent-color;
	padding: 5px 5px 5px 8px;
	border: 1px solid darken($base-accent-color, 10%);
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position: fixed;
	top:12px;
	right: 5px;
	@include media($large-screen) {
	display:none;
	}
}
.d-menu {
	display:none;
	@include media($large-screen) {
		float: left;
		width: 100%;
		height: 40px;
		display:inline-block;
		position: relative;
		margin-right: 5%;
		@include clearfix;
		> div {float: left;width: 95%;}
		ul {
			display:table;
			width:100%;
		}
		ul li {
			border-left: none;
			font-size: rem(14);
			position: relative;
			text-transform: uppercase;
			display:table-cell;
			&:last-child {margin-right: 0;border-right: 1px solid $light-gray;}
			&:hover {background: $light-gray;@include transition (all .2s ease-in-out);}
			&.current-menu-item { > a{color: shade($base-accent-color, 40%);}}
			&.current-menu-parent { > a{color: shade($base-accent-color, 40%);}} 
			a {
				padding: 0;
				text-align: center;
				display: block;
				line-height: 40px;
				height: 40px;
				border-left: 1px solid $light-gray;
			}
			@include media($xl-screen) {font-size: rem(16);}
		}
	}
}
.d-menu ul.sub-menu {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	height: 80px;
	background: $light-gray;
	padding: 10px;
	@include transition (opacity .25s ease);
}
.d-menu ul li li {
	float: none;
	font-size: rem(16);
	text-transform: none;
	display: block;
	a {padding: .5em 0;float: left;height: auto;text-align: left;}
}
.d-menu ul li:hover ul.sub-menu {
	visibility: visible;
	opacity: 1;
	min-width: 200px;
	width: 100%;
	z-index: 999;
	li {
		border-top: 1px solid darken($light-gray, 10%);
		line-height: normal;
		a {float: none;line-height: normal;}
		&:first-child {border-top: none;}
	}
}
.icon-search {
	position: absolute;
	font-size: em(20);
	right: 10px;
	top: 8px;
	color: darken($light-gray, 10%);
	cursor: pointer;
	&.active{color: $blue;}
	@include media($large-screen) {right: 0;top: 8px;}
}
.header-search {
	display: none;
	background: $base-accent-color;
	padding: 2em 0;
	text-align: right;
	> div {@include outer-container;}
	input {max-width: 300px;height: 40px;}
	button, input, span,label {display: inline-block;}
	button {border: 1px solid lighten($base-accent-color, 5%);height: 40px;vertical-align: top;background: darken($base-accent-color, 5%);}
	input, label {margin-right: 5px;}
	label {color: #fff; font-size: em(12);text-transform: uppercase;font-weight: 700;}
}