.doc-wrap {
	@include media($medium-screen-up) {padding-top: 81px;}
}
.admin-bar .doc-head {
	@include media($medium-screen-up) {top:32px;}
}
.doc-head {
	z-index: 9999;
	background: #fff;
	border-bottom: 1px solid $light-gray;
	height: 80px;
	@include clearfix;
	@include media($medium-screen-up) {
	height: auto;
	position: fixed;
	top:0;
	width: 100%;}
}
.logo-header {
	float: left;
	width: 100%;
	max-width: 200px;
	position: relative;
	height: 80px;
	div {
		text-align: center;
		height: 100%;
		a {width: 100%;height: 100%;display: block;}
	}
	@include media($medium-screen-up) {width: 30%;max-width: 300px;}
}
a.m-btn {
	font-size: 1.5em;
	z-index: 9999;
	color: #fff;
	float: right;
	background: $base-accent-color;
	padding: 5px 5px 5px 8px;
	border: 1px solid darken($base-accent-color, 10%);
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position: fixed;
	top:15px;
	right: 5px;
	@include media($medium-screen-up) {
	display:none;
	}
}
.d-menu {
	display:none;
	@include media($medium-screen-up) {
		display:inline-block;
		position: relative;
		float: right;
		height: 80px;
		width: 65%;
		margin-right: 5%;
		ul {
			display:table;
			width:100%;
		}
		ul li {
			font-size: rem(14);
			position: relative;
			text-transform: uppercase;
			border-left: 1px solid $light-gray;
			display:table-cell;
			&:last-child {margin-right: 0;border-right: 1px solid $light-gray;}
			&:hover {background: $light-gray;@include transition (all .2s ease-in-out);}
			&.current-menu-item { > a{color: shade($base-accent-color, 40%);}}
			&.current-menu-parent { > a{color: shade($base-accent-color, 40%);}} 
			a {
				padding: 0;
				line-height: 80px;
				height: 80px;
				text-align: center;
				display: block;
			}
			@include media($large-screen) {font-size: rem(18);}
		}
	}
}
.d-menu ul.sub-menu {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	height: 80px;
	left: -1px;
	background: $light-gray;
	padding: 10px;
	@include transition (opacity .25s ease);
}
.d-menu ul li li {
	float: none;
	font-size: rem(16);
	text-transform: none;
	display: block;
	a {padding: .5em 0;float: left;height: auto;}
}
.d-menu ul li:hover ul.sub-menu {
	visibility: visible;
	opacity: 1;
	width: 200px;
	z-index: 999;
	li {
		border-top: 1px solid darken($light-gray, 10%);
		line-height: normal;
		a {float: none;line-height: normal;}
		&:first-child {border-top: none;}
	}
}
.icon-search {
	position: absolute;
	right: 60px;
	font-size: em(24);
	top: 22px;
	color: darken($light-gray, 10%);
	cursor: pointer;
	&.active{color: $blue;}
	@include media($medium-screen-up) {right: 3%;top: 25px;}
}
.header-search {
	display: none;
	background: $base-accent-color;
	padding: 2em 0;
	text-align: right;
	> div {@include outer-container;}
	input {max-width: 300px;height: 40px;}
	button, input, span,label {display: inline-block;}
	button {border: 1px solid lighten($base-accent-color, 5%);height: 40px;vertical-align: top;background: darken($base-accent-color, 5%);}
	input, label {margin-right: 5px;}
	label {color: #fff; font-size: em(12);text-transform: uppercase;font-weight: 700;}
}