.bxslider-load {
  visibility: hidden; // hide until slides loaded
}

.hero.secondary {
  text-align: center;
  line-height: 0;
}

.hero.secondary img {
  width: 100%;
}

.hero {
  border-bottom: 12px solid $base-accent-color;
  color: #fff;
  text-align: center;
  h1 {
    font-size: rem(28);
    padding: 0 1em;
    line-height: 1em;
    font-weight: 700;
    text-shadow: 1px 1px 1px $dark-gray;
    @include media($medium-screen) {
      font-size: rem(48);
      margin-bottom: 0.25em;
      max-width: 600px;
    }
    @include media($large-screen) {
      font-size: rem(56);
      margin-bottom: 0.25em;
      max-width: 800px;
    }
  }

  p {
    padding: 0 2em;
    line-height: normal;
    opacity: 0.9;
    font-size: rem(18);
    text-shadow: 1px 1px 1px $dark-gray;
    font-weight: 700;
  }

  &__slide {
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__content {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include media($large-screen) {
      height: 600px;
    }
    @include media($xl-screen) {
      height: 820px;
    }
  }

  &.parallax {
    > div {
      max-width: none;
    }
  }
}
