@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?ps4amc');
	src:url('fonts/icomoon.eot?#iefixps4amc') format('embedded-opentype'),
		url('fonts/icomoon.woff?ps4amc') format('woff'),
		url('fonts/icomoon.ttf?ps4amc') format('truetype'),
		url('fonts/icomoon.svg?ps4amc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\f002";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-navicon:before {
	content: "\f0c9";
}
.icon-envelope:before {
	content: "\f0e0";
}
.icon-newspaper:before {
	content: "\e605";
}
.icon-bullhorn:before {
	content: "\e606";
}
.icon-bubbles:before {
	content: "\e607";
}
.icon-googleplus:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\e601";
}
.icon-twitter:before {
	content: "\e602";
}
.icon-linkedin:before {
	content: "\e603";
}
.icon-pinterest:before {
	content: "\e604";
}



