.module {
  margin-top: $base-content-margin;
	margin-bottom: $base-content-margin;
  &--three-col {
    > div {@include outer-container;}
  	> div article,
  	> div > div {
  	  	@include media($medium-screen) {
    		@include span-columns(4);
    		}
  	}
  }
  &--intro {
    > div { @include outer-container; }
  }
  &--news-buckets {
    > div {@include outer-container;}
  	> div article,
  	> div > div {
  	  	@include media($medium-screen) {
    		@include span-columns(4);
    		}
  	}
  	article {
      h1 {
  		  font-size: em(18);
  		  font-weight: 400;
    	}
    	p {font-size: em(13);line-height: normal;}
    	img {display: block;margin-bottom: .5em;@include img-border;}
    	.meta {font-size: em(12); text-transform: uppercase;font-weight: 700;color: #000;}
    }
  }
  &--callouts {
    text-align: center;
    > div {@include outer-container;}
  	> div article,
  	> div > div {
  	  	@include media($medium-screen) {
    		@include span-columns(4);
    		}
  	}
    > div > div {
    	border-top: 1px solid $light-gray;
    	@include media($medium-screen) {
    		border-left: 1px solid $base-accent-color;
    		border-top: none;
    		padding-left: 1em;
    		min-height: 200px;
    		&:first-child {border-left: none;padding-left: 0;}
    	}
    }
  }
}
