.doc-wrap,
.mm-page {
	background: $base-body-color !important;
}

.doc-head > div,
.doc-head > .hero > div {
	@include outer-container;
	padding: 0 1em;
}
.doc-wrap section:nth-of-type(2) {
	padding-top: 2em;
}
.doc-content {
	margin-top: $base-content-margin;
	margin-bottom: $base-content-margin;
	background: $base-body-color;
	> div {padding: 0 1em;}
	&.gray {background: $light-gray;}
	&.accent {
		background: $base-accent-color;
		color: #fff;
		padding-top: 1.5em;
		a {
			color: tint($base-accent-color, 40%);
			&:hover {color: #fff;}
		}
	}
}
.doc-content.sidebar {
	@include outer-container;
	@include media($medium-screen) {
		display: flex;
		> div {
			width: 80%;
		}
		> aside {
			width: 20%;
		}
	}
}
.doc-content.two-col {
	@include outer-container;
	> div {
		@include media($medium-screen) {
  		@include span-columns(6);
  		}
	}
}
.page_layout {
	@include outer-container;
	margin-bottom: $base-content-margin;
	margin-top: $base-content-margin;
	&--two-thirds-left {
		> div:nth-of-type(1) {
			@include media($large-screen) {@include span-columns(8);}
		}
		> div:nth-of-type(2) {
			@include media($large-screen) {@include span-columns(4);}
		}
	}
	&--two-thirds-right {
		> div:nth-of-type(1) {
			@include media($large-screen) {@include span-columns(4);}
		}
		> div:nth-of-type(2) {
			@include media($large-screen) {@include span-columns(8);}
		}
	}
	&--sidebar-left {
		> div:nth-of-type(1) {
			@include media($large-screen) {@include span-columns(3);}
		}
		> div:nth-of-type(2) {
			@include media($large-screen) {@include span-columns(9);}
		}
	}
	&--sidebar-right {
		> div:nth-of-type(1) {
			@include media($large-screen) {@include span-columns(9);}
		}
		> div:nth-of-type(2) {
			@include media($large-screen) {@include span-columns(3);}
		}
	}
	&--columns {
		@include media($large-screen) {
			display: flex;
			flex-wrap: wrap;
			margin: -0.5em;
		}
		> div {
			@include media($large-screen) {
				flex: 1 0 4em;
				margin: 0.5em;
				background: #ccc;
			}
		}
	}
}

footer.doc-foot {
	> div:nth-of-type(1),
	> div:nth-of-type(2) {
		@include outer-container;
		padding: 1.5em 1em;
	}
	> div:nth-of-type(2) {
  		> div {@include media($medium-screen) { @include span-columns(6);}}
	}

}

/* The Fukol CSS 'grid system' */

.flex_grid {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5em;
}

.flex_grid > * {
  flex: 1 0 4em;
  margin: 0.5em;
}

.flex_grid > * {
  background: #222;
  padding: 1em;
  color: #fff;
  text-align: center;
}
