/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

/**
 * Correct `block` display not defined in IE 8/9.
 */
 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 main,
 nav,
 section,
 summary {
   display: block;
 }

html {
  font-size: 62.5%; /* Sets up the Base 10 stuff */
  font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
  box-sizing: border-box; /* Apply a natural box layout model to the document; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
}
*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}
body {
  background: $base-background-color;
}
/* ==========================================================================
   Type styles: Set up typography
   ========================================================================== */

body,
button,
input,
select,
textarea {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: $base-font-weight;
  line-height: 1.4;
}
button {
  font-weight: bold;
}

p {
  margin-bottom: $site-vertical;

  &.line-breaks {
    white-space: pre-wrap;
  }
}

b,
strong {
  font-weight: 700;
  color: $c-black;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1em;
  max-width: 100%;
  overflow: auto;
  padding: 1em;

  &.pre-unstyled {
    margin: inherit;
    padding: inherit;
    border: inherit;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: inherit;
    overflow: inherit;
  }
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 1.5rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}
strong {
  font-weight: 700;
}
/*--------------------------------------------------------------
Headings
--------------------------------------------------------------*/


h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  line-height: 1.25em;
  margin: 0 0 .75em 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
  font-weight:700;
  color: $c-blueDark;
}

h1 {
  font-size: $base-font-size * 2.25; // 16 * 2.25 = 36px
}

h2 {
  font-size: $base-font-size * 2; // 16 * 2 = 32px
}

h3 {
  font-size: $base-font-size * 1.75; // 16 * 1.75 = 28px
}

h4 {
  font-size: $base-font-size * 1.5; // 16 * 1.5 = 24px
}

h5 {
  font-size: $base-font-size * 1.25; // 16 * 1.25 = 20px
}

h6 {
  font-size: $base-font-size;
}

/*--------------------------------------------------------------
Elements
--------------------------------------------------------------*/
a {
  color: $base-link-color;
  text-decoration: none;
}

.doc_content a {
  text-decoration: underline;
}
.doc_content .button {
  text-decoration: none;
  font-weight: 700;
}
hr {
  background-color: $secondary-color;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
}

ul,
ol {
  margin: 0 0 1em 3em;
}

ul {
  list-style: none;
}

.doc_content ul {
  list-style: disc;
}

ol {
  list-style: none;
}

.doc_content ol {
  list-style: upper-alpha;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  color: $c-white;
  font-family: $secondary-font-family;
  font-size: 28px;
  font-size: 2.8rem;
}

dd {
  margin: 0 1.5em 1.5em;
  font-size: 20px;
  font-size: 2rem;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0;
}

table {
  margin: 0 0 1em;
  width: 100%;
}

th {
  font-weight: bold;
}

/*--------------------------------------------------------------
Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: $site-padding;
  margin-bottom: $site-vertical;
}

.alignright {
  display: inline;
  float: right;
  margin-left: $site-padding;
  margin-bottom: $site-vertical;
}

.aligncenter {
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto;
}


/*--------------------------------------------------------------
Media
--------------------------------------------------------------*/

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
Forms
--------------------------------------------------------------*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $c-grayMedium;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $c-grayMedium;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $c-grayMedium;
}
:-moz-placeholder { /* Firefox 18- */
  color: $c-grayMedium;
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
  width: 100%;
  max-width: 480px;
}

label {
  font-weight: bold;
  margin-bottom: 2px;
}

input {
  color: #000;
  font-size: 22px;
  font-size: 2.2rem;
  padding: 12px 30px 10px;
  background: $c-white;
  border: 2px solid $c-grayMedium;
  &:focus {
    outline: none;
    background: $c-white;
  }
}
textarea {
  color: #000;
  font-size: 22px;
  font-size: 2.2rem;
  padding: 12px 30px 10px;
  background: $c-white;
  border: 2px solid $c-grayMedium;
  min-height: 200px;
  &:focus {
    outline: none;
    background: $c-white;
  }
}
