// ----------------------------------------
// // --- global variables ---
// ----------------------------------------


/* Typography */

$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: Georgia, Times, "Times New Roman", serif;

$base-font-family: 'Merriweather', $serif;
$secondary-font-family: 'Montserrat', $sans-serif;
$header-font-family: $secondary-font-family;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$base-font-weight: $font-weight-regular;
$header-font-weight: $font-weight-regular;
$base-font-size: 1em;

/* Breakpoints */

//@include border-box-sizing;

$site-width: 68em; //1088px

$bp-tiny: 30em; //480px
$bp-small: 42em; //672px
$bp-medium: 56em; //896px
$bp-large: 70em; //1120px
$bp-huge: 90em; //1440px

$bp-hero: 1646px; //1646px


/* Colors */

$c-black: #000000;
$c-white: #FFFFFF;
$c-grayLight: #f6f6f6;
$c-gray: #999;
$c-grayMedium: #666;
$c-grayDark: #333;

$c-green: #209a48;
$c-blue: #12a6dc;
$c-blueDark: #202f61;
$c-blueLight: #00a6dc;

$c-red: #CC4A14;
$c-orange: #FF6600;

$base-font-color: $c-black;
$base-header-color: $c-blueDark;

$primary-color: $c-blueDark;
$secondary-color: $c-green;

$base-background-color: $c-white;
$base-border-color: #dfdfbc;

$base-link-color: $primary-color;

/* Layout */

$site-vertical: 2em;
$site-padding: 1em;

$base-border-radius: 2px;
