// ----------------------------------------
// // --- global mixins ---
// ----------------------------------------

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@mixin font-size($size) {
font-size: $size * 1px; // Fallback in px.
font-size: ($size/16) * 1.6rem;
}
@mixin section-margin {
  margin-top: $site-vertical;
  margin-bottom: $site-vertical;
}

@mixin container {
  max-width: $site-width;
  margin-left: auto;
  margin-right: auto;
  padding: 0 $site-padding;
}
@mixin columns($col-width, $col-amount) { // $col-width use percentage *example for 3 @include columns(30%);
  > article,
  > div {
    padding: 0 $site-padding;
  }
  @include breakpoint($bp-medium) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    > article,
    > div {
        max-width: $site-width/$col-amount;
        width: $col-width;
    }
  }
}

@mixin group {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin heading_reset {
  color: $base-header-color;
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  line-height: 1.2;
  //text-transform: uppercase;
}
@mixin heading_1 {
  @include heading_reset;
  font-size: 45px;
  font-size: 4.5rem;
}
@mixin heading_2 {
  @include heading_reset;
  font-size: 33px;
  font-size: 3.3rem;
}
@mixin heading_3 {
  @include heading_reset;
  font-size: 27px;
  font-size: 2.7rem;
}
@mixin heading_4 {
  @include heading_reset;
  font-size: 26px;
  font-size: 2.6rem;
}
@mixin heading_5 {
  @include heading_reset;
  font-size: 24px;
  font-size: 2.4rem;
}
@mixin heading_6 {
  @include heading_reset;
  font-size: 22px;
  font-size: 2.2rem;
}

@mixin clean_list {
  margin-left: 0;
  list-style: none;
}

@mixin horizontal_list {
  @include clean_list;
  display: flex;
  justify-content: space-between;
}
@mixin horizontal_list_centered {
  @include clean_list;
  display: flex;
  justify-content: center;
}
@mixin icon_social($bg_file) {
  display: inline-block;
  width: 30px;
  height: 30px;
  $url:"/assets/img/#{$bg_file}.svg";
  background: url($url) no-repeat;
  background-size: 30px 30px;
  &:hover {
    opacity: .8;
    transition: all .5s ease;
  }
}

@mixin button {
  @include font-size(16);
  border: none;
  background: $secondary-color;
  box-shadow: none;
  color: $c-white;
  cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
  display: inline-block;
  font-family: $secondary-font-family;
  line-height: 1.5;
  padding: 12px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
  &:hover,
  &:focus,
  &:active {
    background: lighten($secondary-color, 10%);
    color: $c-white;
    transition: all 0.3s ease;
  }
}
@mixin navigation-list {
    list-style-type:none;
    padding:0;
    margin:0;
    overflow:hidden;
    > li{
        display:block;
        float:left;
        margin-right: .5em;
        &:last-child{
            margin-right:0px;
        }
    }
}
@mixin white-button {
	padding: .5em 1em;
	border: 1px solid #fff;
	border-radius: $base-border-radius;
	background: transparent;
	color: #fff;
	display: inline-block;
	font-family: $secondary-font-family;
	@include transition (all .2s ease-in-out);
}
@mixin img-border {
	padding: 4px;
	border: 1px solid darken($c-grayLight, 10%);
	background: #fff;
	border-radius: $base-border-radius;
}
