// ----------------------------------------
// // --- layout ---
// ----------------------------------------
/* Setup sticky footer */
body,
html {
  height: 100%;
}

.doc-wrap,
.mm-page {
	background: $base-background-color !important;
}

.doc-head > div,
.doc-head > .hero > div {
	@include container;
	padding: 0 1em;
}
.doc-wrap section:nth-of-type(2) {
	padding-top: 2em;
}
.doc-content {
	margin-top: $site-vertical;
	margin-bottom: $site-vertical;
	background: $base-background-color;
	> div {padding: 0 1em;}
	&.gray {background: $c-grayLight;}
	&.accent {
		background: $primary-color;
		color: #fff;
		padding-top: 1.5em;
		a {
			color: tint($primary-color, 40%);
			&:hover {color: #fff;}
		}
	}
}
.doc-content.sidebar {
	@include container;
	@include breakpoint($bp-medium) {
		display: flex;
		> div {
			width: 80%;
		}
		> aside {
			width: 20%;
		}
	}
}
.doc-content.two-col {
	@include container;
	> div {
		@include breakpoint($bp-medium) {
  		//@include span-columns(6);
  		}
	}
}
.page_layout {
	@include container;
	margin-bottom: $site-vertical;
	margin-top: $site-vertical;
	&--two-thirds-left {
		> div:nth-of-type(1) {
			@include breakpoint($bp-large) {
        //@include span-columns(8);
      }
		}
		> div:nth-of-type(2) {
			@include breakpoint($bp-large) {
        //@include span-columns(4);
      }
		}
	}
	&--two-thirds-right {
		> div:nth-of-type(1) {
			@include breakpoint($bp-large) {
        //@include span-columns(4);
      }
		}
		> div:nth-of-type(2) {
			@include breakpoint($bp-large) {
        //@include span-columns(8);
      }
		}
	}
	&--sidebar-left {
		> div:nth-of-type(1) {
			@include breakpoint($bp-large) {
        //@include span-columns(3);
      }
		}
		> div:nth-of-type(2) {
			@include breakpoint($bp-large) {
        //@include span-columns(9);
      }
		}
	}
	&--sidebar-right {
		> div:nth-of-type(1) {
			@include breakpoint($bp-large) {
        //@include span-columns(9);
      }
		}
		> div:nth-of-type(2) {
			@include breakpoint($bp-large) {
        //@include span-columns(3);
      }
		}
	}
	&--columns {
		@include breakpoint($bp-large) {
			display: flex;
			flex-wrap: wrap;
			margin: -0.5em;
		}
		> div {
			@include breakpoint($bp-large) {
				flex: 1 0 4em;
				margin: 0.5em;
				background: #ccc;
			}
		}
	}
}

footer.doc-foot {
	> div:nth-of-type(1),
	> div:nth-of-type(2) {
		@include container;
		padding: 1.5em 1em;
	}
	> div:nth-of-type(2) {
  		> div {@include breakpoint($bp-medium) {
        //@include span-columns(6);
      }
    }
	}

}

/* The Fukol CSS 'grid system' */

.flex_grid {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5em;
}

.flex_grid > * {
  flex: 1 0 4em;
  margin: 0.5em;
}

.flex_grid > * {
  background: #222;
  padding: 1em;
  color: #fff;
  text-align: center;
}
