// ----------------------------------------
// // --- unique ---
// ----------------------------------------

/* Additional Content Style */

/* Typography and Images */

.doc-content img {
	max-width: 100%;
	width: auto;
	height: auto;
}
.green-text {color: $c-green;}
.cta-button {
	padding: 15px 25px 15px 25px;
	border: 1px solid $secondary-color;
	border-radius: $base-border-radius;
	background: darken($secondary-color, 10%);
	color: #fff;
	display: inline-block;
	font-size: rem(18);
	font-weight: 700;
	font-family: $secondary-font-family;
	&:hover {background: $secondary-color;color: #fff;border: 1px solid darken($c-orange, 10%);}
}
h3.icon {
	position: relative;
	padding-left: 45px;
	i {
		position: absolute;
		left: 0;
		top: 5px;
	}
	&.green {color: $c-green;}
	&.blue {color: $c-blueDark;}
	&.red {color: $c-red;}
}
.more-info {
	font-size: rem(12);
	text-transform: uppercase;
	position: relative;
	padding-right: 12px;
	font-weight: 700;
}
.comment_form {
	.button {
		margin-top: $site-vertical;
		margin-bottom: $site-vertical;
	}
	form {
		label {
			display: block;
			margin-top: $site-vertical;
		}
		input {
			display: block;
		}
	}
}
/* WP Tweaks */

.aligncenter,
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
	margin: 0 10px 10px 0;
}

.alignright {
	float: right;
	margin: 0 10px 10px 0;
}

.wp-caption {
	border: 1px solid $c-grayLight;
	text-align: center;
	background-color: #fff;
	padding-top: 4px;
	margin: 10px;
	border-radius: $base-border-radius;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}
.bx-wrapper .bx-controls-direction a {
	z-index: 999 !important;
}

body.single-post .doc_content {
	@include breakpoint($bp-large) {
	padding-top: 110px;}
  }
  body.page-id-492 .doc_content {
	@include breakpoint($bp-large) {
	padding-top: 120px;}
  }
span.grey-em-text {
	  color: #686868;
	  font-style: italic;
	  font-weight: bold;
  }
.tease-post img,
.post-type-post img {
	display: block;
    margin-bottom: .5em;
    padding: 4px;
    border: 1px solid #ddd;
    background: #fff;
	border-radius: 2px;
	float: left;
}
.tease-post .post-image {
	margin: 0 15px 5px 0;
    width: 260px;
    float: left;
}
article.tease-post {
	margin-bottom: 1.5em;
	clear: both;
}
article.tease-post section.post-content {
	width: 90%;
	float: left;
	margin-bottom: 1.5em;
	@include breakpoint($bp-medium) {
		width: 60%;
	}
}
body.single-post aside.post-image {
	margin: 0 25px 15px 0;
    float: left;
}