/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/**
 * BxSlider v4.1.3 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
}

.bx-wrapper img {
  max-width: 100%;
  display: block;
}

.bxslider {
  margin: 0;
  padding: 0;
}

.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
}

/** THEME
===================================*/
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../images/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url(../images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
  right: 10px;
  background: url(../images/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}

.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(../images/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(../images/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666 \9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?93g7tu");
  src: url("fonts/icomoon.eot?93g7tu#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?93g7tu") format("truetype"), url("fonts/icomoon.woff?93g7tu") format("woff"), url("fonts/icomoon.svg?93g7tu#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-transfer:before {
  content: "\e911";
}

.icon-expand:before {
  content: "\e910";
}

.icon-night:before {
  content: "\e900";
}

.icon-newspaper:before {
  content: "\e904";
}

.icon-profile:before {
  content: "\e923";
}

.icon-bubbles:before {
  content: "\e96c";
}

.icon-target-arrow:before {
  content: "\e90e";
}

.icon-weather-sunny:before {
  content: "\e902";
}

.icon-weather-partly-sunny:before {
  content: "\e903";
}

.icon-weather-snow:before {
  content: "\e905";
}

.icon-phone-call:before {
  content: "\e906";
}

.icon-instagram-with-circle:before {
  content: "\e907";
}

.icon-pinterest-with-circle:before {
  content: "\e908";
}

.icon-linkedin-with-circle:before {
  content: "\e909";
}

.icon-twitter-with-circle:before {
  content: "\e90a";
}

.icon-facebook-with-circle:before {
  content: "\e90b";
}

.icon-search:before {
  content: "\f002";
}

.icon-star-o:before {
  content: "\f006";
}

.icon-arrow-circle-o-down:before {
  content: "\f01a";
}

.icon-arrow-circle-o-up:before {
  content: "\f01b";
}

.icon-gift:before {
  content: "\f06b";
}

.icon-phone:before {
  content: "\f095";
}

.icon-cloud1:before {
  content: "\f0c2";
}

.icon-flask:before {
  content: "\f0c3";
}

.icon-navicon:before {
  content: "\f0c9";
}

.icon-envelope:before {
  content: "\f0e0";
}

.icon-file-text:before {
  content: "\f15c";
}

.icon-bed:before {
  content: "\f236";
}

.icon-google-plus-circle:before {
  content: "\f2b3";
}

.icon-chevron-right:before {
  content: "\e90c";
}

.icon-chevron-left:before {
  content: "\e90d";
}

/* Typography */
/* Breakpoints */
/* Colors */
/* Layout */
/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

html {
  font-size: 62.5%;
  /* Sets up the Base 10 stuff */
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
  box-sizing: border-box;
  /* Apply a natural box layout model to the document; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: #FFFFFF;
}

/* ==========================================================================
   Type styles: Set up typography
   ========================================================================== */
body,
button,
input,
select,
textarea {
  color: #000000;
  font-family: "Merriweather", Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
}

button {
  font-weight: bold;
}

p {
  margin-bottom: 2em;
}
p.line-breaks {
  white-space: pre-wrap;
}

b,
strong {
  font-weight: 700;
  color: #000000;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1em;
  max-width: 100%;
  overflow: auto;
  padding: 1em;
}
pre.pre-unstyled {
  margin: inherit;
  padding: inherit;
  border: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: inherit;
  overflow: inherit;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 1.5rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

strong {
  font-weight: 700;
}

/*--------------------------------------------------------------
Headings
--------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0 0 .75em 0;
  text-rendering: optimizeLegibility;
  font-weight: 700;
  color: #202f61;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

/*--------------------------------------------------------------
Elements
--------------------------------------------------------------*/
a {
  color: #202f61;
  text-decoration: none;
}

.doc_content a {
  text-decoration: underline;
}

.doc_content .button {
  text-decoration: none;
  font-weight: 700;
}

hr {
  background-color: #209a48;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
}

ul,
ol {
  margin: 0 0 1em 3em;
}

ul {
  list-style: none;
}

.doc_content ul {
  list-style: disc;
}

ol {
  list-style: none;
}

.doc_content ol {
  list-style: upper-alpha;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  color: #FFFFFF;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-size: 2.8rem;
}

dd {
  margin: 0 1.5em 1.5em;
  font-size: 20px;
  font-size: 2rem;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0;
}

table {
  margin: 0 0 1em;
  width: 100%;
}

th {
  font-weight: bold;
}

/*--------------------------------------------------------------
Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1em;
  margin-bottom: 2em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1em;
  margin-bottom: 2em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/*--------------------------------------------------------------
Media
--------------------------------------------------------------*/
/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
Forms
--------------------------------------------------------------*/
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #666;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #666;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #666;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #666;
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
  width: 100%;
  max-width: 480px;
}

label {
  font-weight: bold;
  margin-bottom: 2px;
}

input {
  color: #000;
  font-size: 22px;
  font-size: 2.2rem;
  padding: 12px 30px 10px;
  background: #FFFFFF;
  border: 2px solid #666;
}
input:focus {
  outline: none;
  background: #FFFFFF;
}

textarea {
  color: #000;
  font-size: 22px;
  font-size: 2.2rem;
  padding: 12px 30px 10px;
  background: #FFFFFF;
  border: 2px solid #666;
  min-height: 200px;
}
textarea:focus {
  outline: none;
  background: #FFFFFF;
}

/* Setup sticky footer */
body,
html {
  height: 100%;
}

.doc-wrap,
.mm-page {
  background: #FFFFFF !important;
}

.doc-head > div,
.doc-head > .hero > div {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
  padding: 0 1em;
}

.doc-wrap section:nth-of-type(2) {
  padding-top: 2em;
}

.doc-content {
  margin-top: 2em;
  margin-bottom: 2em;
  background: #FFFFFF;
}
.doc-content > div {
  padding: 0 1em;
}
.doc-content.gray {
  background: #f6f6f6;
}
.doc-content.accent {
  background: #202f61;
  color: #fff;
  padding-top: 1.5em;
}
.doc-content.accent a {
  color: #7982a0;
}
.doc-content.accent a:hover {
  color: #fff;
}

.doc-content.sidebar {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}
@media (min-width: 56em) {
  .doc-content.sidebar {
    display: flex;
  }
  .doc-content.sidebar > div {
    width: 80%;
  }
  .doc-content.sidebar > aside {
    width: 20%;
  }
}

.doc-content.two-col {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}

.page_layout {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
  margin-bottom: 2em;
  margin-top: 2em;
}
@media (min-width: 70em) {
  .page_layout--columns {
    display: flex;
    flex-wrap: wrap;
    margin: -0.5em;
  }
}
@media (min-width: 70em) {
  .page_layout--columns > div {
    flex: 1 0 4em;
    margin: 0.5em;
    background: #ccc;
  }
}

footer.doc-foot > div:nth-of-type(1),
footer.doc-foot > div:nth-of-type(2) {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
  padding: 1.5em 1em;
}

/* The Fukol CSS 'grid system' */
.flex_grid {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5em;
}

.flex_grid > * {
  flex: 1 0 4em;
  margin: 0.5em;
}

.flex_grid > * {
  background: #222;
  padding: 1em;
  color: #fff;
  text-align: center;
}

/* Additional Content Style */
/* Typography and Images */
.doc-content img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.green-text {
  color: #209a48;
}

.cta-button {
  padding: 15px 25px 15px 25px;
  border: 1px solid #209a48;
  border-radius: 2px;
  background: #177034;
  color: #fff;
  display: inline-block;
  font-size: rem(18);
  font-weight: 700;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.cta-button:hover {
  background: #209a48;
  color: #fff;
  border: 1px solid #cc5200;
}

h3.icon {
  position: relative;
  padding-left: 45px;
}
h3.icon i {
  position: absolute;
  left: 0;
  top: 5px;
}
h3.icon.green {
  color: #209a48;
}
h3.icon.blue {
  color: #202f61;
}
h3.icon.red {
  color: #CC4A14;
}

.more-info {
  font-size: rem(12);
  text-transform: uppercase;
  position: relative;
  padding-right: 12px;
  font-weight: 700;
}

.comment_form .button {
  margin-top: 2em;
  margin-bottom: 2em;
}
.comment_form form label {
  display: block;
  margin-top: 2em;
}
.comment_form form input {
  display: block;
}

/* WP Tweaks */
.aligncenter,
div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignleft {
  float: left;
  margin: 0 10px 10px 0;
}

.alignright {
  float: right;
  margin: 0 10px 10px 0;
}

.wp-caption {
  border: 1px solid #f6f6f6;
  text-align: center;
  background-color: #fff;
  padding-top: 4px;
  margin: 10px;
  border-radius: 2px;
}

.wp-caption img {
  margin: 0;
  padding: 0;
  border: 0 none;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  padding: 0 4px 5px;
  margin: 0;
}

.bx-wrapper .bx-controls-direction a {
  z-index: 999 !important;
}

@media (min-width: 70em) {
  body.single-post .doc_content {
    padding-top: 110px;
  }
}

@media (min-width: 70em) {
  body.page-id-492 .doc_content {
    padding-top: 120px;
  }
}

span.grey-em-text {
  color: #686868;
  font-style: italic;
  font-weight: bold;
}

.tease-post img,
.post-type-post img {
  display: block;
  margin-bottom: .5em;
  padding: 4px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 2px;
  float: left;
}

.tease-post .post-image {
  margin: 0 15px 5px 0;
  width: 260px;
  float: left;
}

article.tease-post {
  margin-bottom: 1.5em;
  clear: both;
}

article.tease-post section.post-content {
  width: 90%;
  float: left;
  margin-bottom: 1.5em;
}
@media (min-width: 56em) {
  article.tease-post section.post-content {
    width: 60%;
  }
}

body.single-post aside.post-image {
  margin: 0 25px 15px 0;
  float: left;
}

.icon--search {
  font-size: 20px;
  font-size: 2rem;
  color: #dddddd;
  cursor: pointer;
}
.icon--search.active {
  color: #12a6dc;
}
@media (min-width: 70em) {
  .icon--search {
    right: 0;
    top: 8px;
  }
}

button {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-size: 16px;
  font-size: 1.6rem;
  border: none;
  background: #209a48;
  box-shadow: none;
  color: #FFFFFF;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  display: inline-block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  padding: 12px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
}
button:hover, button:focus, button:active,
.button:hover,
.button:focus,
.button:active,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="button"]:active,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="reset"]:active,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active {
  background: #29c45c;
  color: #FFFFFF;
  transition: all 0.3s ease;
}

.button--cta {
  border: 1px solid #209a48;
  border-radius: 2px;
  background: #209a48;
  color: #FFFFFF;
  display: inline-block;
  font-weight: 700;
  padding: 5px 15px;
  font-size: 14px;
  font-size: 1.4rem;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.button--cta:hover, .button--cta:focus, .button--cta:active {
  background: #29c45c;
  color: #FFFFFF;
  border: 1px solid #177034;
}
@media (min-width: 42em) {
  .button--cta {
    line-height: 40px;
    padding: 0 15px;
  }
}

.doc_head {
  background: transparent;
  z-index: 9999;
  transition: all .25s ease-in-out;
}
.doc_head:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 70em) {
  .doc_head {
    padding-top: 20px;
  }
}
.doc_head__top {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
  align-items: center;
  display: flex;
  height: 60px;
}
.doc_head__right {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding-right: 35px;
}
@media (min-width: 70em) {
  .doc_head__right {
    padding-right: 0;
  }
}
.doc_head__logo {
  align-items: center;
  display: flex;
  height: 55px;
  position: relative;
  padding-right: 5px;
}
.doc_head__logo a {
  line-height: 0;
}
.doc_head__logo img {
  max-height: 55px;
  width: auto;
}
@media (min-width: 70em) {
  .doc_head {
    height: auto;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
@media (min-width: 70em) {
  .doc_head.isScrolling {
    position: fixed;
    background: #FFF;
  }
}

.doc_head__search {
  display: none;
  background: rgba(255, 255, 255, 0.75);
  height: 100vh;
  padding: 2em 0;
  text-align: center;
  z-index: 9999;
  position: relative;
}
.doc_head__search .js-search-close {
  position: absolute;
  right: 20px;
  top: 20px;
}
.doc_head__search .co-search_form {
  padding-top: 140px;
}
.doc_head__search input {
  max-width: 400px;
  width: 100%;
  height: 40px;
  color: #000000;
}
.doc_head__search button, .doc_head__search input, .doc_head__search span, .doc_head__search label {
  display: inline-block;
}
.doc_head__search button {
  line-height: 40px;
  padding: 0 20px;
  vertical-align: top;
  background: #1a264e;
}
.doc_head__search input, .doc_head__search label {
  margin-right: 5px;
}
.doc_head__search input[type="search"] {
  border: 1px solid #263874;
  height: 40px;
  padding: 0 5px;
}
.doc_head__search label {
  color: #202f61;
  font-size: em(12);
  text-transform: uppercase;
  font-weight: 700;
}

.icon-search {
  display: none;
}
@media (min-width: 70em) {
  .icon-search {
    display: block;
    position: absolute;
    right: -5px;
    font-size: em(24);
    top: 10px;
    color: #4d4d4d;
    cursor: pointer;
  }
}

.admin-bar .hamburger_toggle {
  top: 50px;
}
.admin-bar .main_menu.active {
  padding-top: 60px;
}

.submenu-trigger {
  display: none;
}

.main_menu.active {
  font-size: 24px;
  font-size: 2.4rem;
  background: #FFFFFF;
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  height: 100%;
  padding-top: 20px;
}
.main_menu.active > ul {
  margin: 0;
}
.main_menu.active > ul li {
  border-bottom: 1px solid #202f61;
}
.main_menu.active > ul li li {
  font-size: 17px;
  font-size: 1.7rem;
  border-bottom: none;
}
.main_menu.active > ul li.menu-item-has-children {
  position: relative;
}
.main_menu.active > ul li.menu-item-has-children .submenu-trigger {
  background: transparent;
  display: block;
  width: 0;
  height: 0;
  content: '';
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 0;
  top: 6px;
}
.main_menu.active > ul li.menu-item-has-children .submenu-trigger:focus {
  outline: none;
}
.main_menu.active > ul li.menu-item-has-children .submenu-trigger.active {
  top: 10px;
  right: -5px;
}
.main_menu.active .main_menu__sub {
  position: static;
  display: block;
}
@media (min-width: 70em) {
  .main_menu.active .main_menu__sub {
    display: none;
  }
  .main_menu.active .main_menu__sub.active {
    display: block;
    margin-bottom: 5px;
  }
}

.main_menu {
  display: none;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
  font-size: 18px;
  font-size: 1.8rem;
}
@media (min-width: 70em) {
  .main_menu {
    display: block;
    height: 40px;
    position: relative;
    width: 100%;
  }
  .main_menu > ul {
    display: flex;
    margin: 0;
    width: 100%;
  }
  .main_menu > ul li {
    flex: 1 1 auto;
    position: relative;
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
  }
  .main_menu > ul li:last-child {
    margin-right: 0;
  }
  .main_menu > ul li:hover {
    background: #209a48;
  }
  .main_menu > ul li.current-menu-item > a {
    color: #FFFFFF;
    background: #209a48;
  }
  .main_menu > ul li.current-menu-parent > a {
    color: #FFFFFF;
    background: #209a48;
  }
  .main_menu > ul li a {
    padding: 0;
    text-align: center;
    display: block;
    line-height: 40px;
  }
  .main_menu > ul li a:hover {
    color: #FFFFFF;
  }
  .main_menu__sub {
    display: none;
    opacity: 0;
    position: absolute;
    background: #209a48;
    margin: 0;
    padding: 10px;
  }
  .main_menu li:hover ul.main_menu__sub {
    display: flex;
    flex-direction: column;
    opacity: 1;
    width: 100%;
    z-index: 999;
  }
  .main_menu li:hover ul.main_menu__sub li {
    line-height: normal;
    padding: 10px 0;
    text-transform: uppercase;
  }
  .main_menu li:hover ul.main_menu__sub li a {
    float: none;
    line-height: normal;
  }
  .main_menu li:hover ul.main_menu__sub li:first-child {
    border-top: none;
  }
}

.hamburger_toggle.active .hamburger {
  margin-top: -3px;
  border-top: none;
  border-bottom: none;
  position: relative;
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.hamburger_toggle.active .hamburger:after {
  content: '';
  border-bottom: 0.2em solid #202f61;
  display: block;
  position: absolute;
  height: 0.2em;
  width: 100%;
  top: 4px;
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.hamburger_toggle {
  position: fixed;
  top: 10px;
  right: 0px;
  z-index: 99999;
  background-color: white;
  border: none;
  border-radius: 0;
  color: #202f61;
  display: inline-block;
  line-height: 18px;
  margin-left: 5px;
  padding: 10px 20px 10px 10px;
}
.hamburger_toggle:hover, .hamburger_toggle:active {
  color: #202f61;
  background-color: white;
  border: none;
}
.hamburger_toggle:focus {
  outline: none;
  color: #202f61;
  background-color: white;
}
@media (min-width: 70em) {
  .hamburger_toggle {
    display: none;
  }
}

.hamburger {
  border-top: 0.2em solid #202f61;
  border-bottom: 0.2em solid #202f61;
  display: block;
  float: left;
  height: 1em;
  width: 1.2em;
}
.hamburger:before {
  border-bottom: 0.2em solid #202f61;
  content: "";
  display: block;
  height: 0.2em;
  margin-top: 0.2em;
  width: 100%;
}

ul.main_menu__sub li {
  border-left: none;
}

ul.main_menu__sub li:last-child {
  border-right: none;
}

footer.doc_foot {
  color: #fff;
  background: #202f61;
}
footer.doc_foot a {
  text-decoration: underline;
  color: #FFFFFF;
}
footer.doc_foot a:hover {
  color: #fff;
}
footer.doc_foot section.foot-wrap {
  position: relative;
}
footer.doc_foot .foot_nav {
  margin-top: 30px;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}
footer.doc_foot .foot_nav ul {
  margin-bottom: .5em;
  padding-top: .5em;
  margin-left: 0;
}
@media (min-width: 56em) {
  footer.doc_foot .foot_nav ul {
    border-top: none;
    padding: 0 1em;
  }
}
footer.doc_foot .foot_nav ul li {
  line-height: normal;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: .5em;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  padding: .5em 0;
}
@media (min-width: 56em) {
  footer.doc_foot .foot_nav {
    display: flex;
    justify-content: space-between;
  }
  footer.doc_foot .foot_nav ul {
    width: 25%;
  }
  footer.doc_foot .foot_nav div {
    width: 33%;
  }
}
footer.doc_foot .foot_nav h5 {
  color: #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  padding-top: .5em;
}
footer.doc_foot .foot_legal {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
  padding-bottom: 20px;
}
footer.doc_foot .foot_legal:after {
  content: "";
  display: table;
  clear: both;
}
footer.doc_foot .foot_legal i {
  font-size: 30px;
  font-size: 3rem;
}
footer.doc_foot .foot_legal p {
  font-size: 12px;
  font-size: 1.2rem;
  text-align: center;
}
footer.doc_foot .foot_legal ul {
  clear: both;
  padding-top: 5px;
}
footer.doc_foot .foot_legal ul li {
  display: inline-block;
}
@media (min-width: 56em) {
  footer.doc_foot .foot_legal ul {
    float: right;
    max-width: 400px;
    clear: none;
  }
}
@media (min-width: 56em) {
  footer.doc_foot .foot_legal {
    padding-bottom: 0px;
  }
}

footer.doc_foot li .more-info:after {
  top: -4px;
}

.fixed_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(51, 51, 51, 0.8);
}
@media (min-width: 56em) {
  .fixed_footer {
    display: none !important;
  }
}
.fixed_footer .footer-cta {
  float: right;
}
.fixed_footer .footer-cta .cta-button {
  padding: 6px 10px 0 10px;
  margin: 5px 0;
  margin-right: 15px;
  height: 37px;
  font-size: rem(14);
}
@media (min-width: 70em) {
  .fixed_footer .footer-cta .cta-button {
    padding: 10px 25px 10px 25px;
    margin-top: 7px;
    margin-right: 0;
    height: auto;
    font-size: rem(18);
  }
}

.pagination-block {
  max-width: 500px;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}
.pagination-block ul {
  display: flex;
  margin: 0;
}
.pagination-block li {
  flex: 1 1 auto;
  border-left: 1px solid #fff;
  position: relative;
}

.doc-content.footer-quotes {
  border-top: 12px solid #209a48;
  border-bottom: 12px solid #209a48;
  padding-bottom: 40px;
  padding-top: 1.5em;
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  box-sizing: border-box;
}

.doc-content.footer-quotes div.footer_content-full {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

.quote-slider {
  margin-top: 1em;
  margin-bottom: 1em;
}
.quote-slider blockquote {
  color: #000000;
}
.quote-slider cite {
  display: block;
  text-align: right;
  font-size: em(12);
  color: #666;
}

.footer-quotes blockquote {
  min-height: 100px;
}
@media (min-width: 56em) {
  .footer-quotes blockquote {
    min-height: 0;
  }
}

.footer-quotes ul.desk-quote li {
  padding-bottom: 80px;
}

.quote-slider {
  margin: 0;
}
.quote-slider.mob-quote {
  display: block;
}
.quote-slider.mob-quote li {
  padding-bottom: 60px;
}
@media (min-width: 56em) {
  .quote-slider.mob-quote {
    display: none;
  }
}
.quote-slider.desk-quote {
  display: none;
}
@media (min-width: 56em) {
  .quote-slider.desk-quote {
    display: block;
  }
}

.bx-wrapper .bx-viewport {
  box-shadow: none !important;
  border: none !important;
  background: transparent !important;
  position: static !important;
  /* This is relative on the element via js...seems to push it left */
}

section.footer-quotes .bx-controls.bx-has-controls-direction {
  display: block;
}
@media (min-width: 56em) {
  section.footer-quotes .bx-controls.bx-has-controls-direction {
    display: none;
  }
}

div.foot_nav ul.social {
  float: left;
  clear: none;
  padding-left: 0;
  width: 100%;
}
div.foot_nav ul.social li {
  display: inline-block;
  padding-right: 10px;
}
div.foot_nav ul.social a {
  text-decoration: none;
}
div.foot_nav ul.social a:hover {
  color: #209a48;
}
div.foot_nav ul.social i {
  font-size: 2.25em;
}

.bxslider-load {
  visibility: hidden;
}

.bx-wrapper .bx-viewport {
  box-shadow: none !important;
  border: none !important;
  background: transparent !important;
  position: static !important;
  /* This is relative on the element via js...seems to push it left */
}

.co_slider {
  border-bottom: 12px solid #202f61;
  color: #FFFFFF;
  text-align: center;
}
.co_slider h1 {
  color: #FFFFFF;
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 1em;
  font-weight: 700;
  text-shadow: 1px 1px 1px #333;
}
@media (min-width: 56em) {
  .co_slider h1 {
    font-size: 40px;
    font-size: 4rem;
    margin-bottom: 0.25em;
    max-width: 600px;
  }
}
@media (min-width: 70em) {
  .co_slider h1 {
    font-size: 50px;
    font-size: 5rem;
    margin-bottom: 0.25em;
    max-width: 800px;
  }
}
.co_slider p {
  opacity: 0.9;
  text-shadow: 1px 1px 1px #333;
  font-weight: 700;
}
@media (min-width: 56em) {
  .co_slider p {
    font-size: 22px;
  }
}
@media (min-width: 70em) {
  .co_slider p {
    font-size: 30px;
  }
}
.co_slider__slide {
  background-repeat: no-repeat;
  background-size: cover;
}
.co_slider__content {
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 400px;
  justify-content: center;
  text-align: center;
  padding: 40px;
  max-width: 1224px;
  margin: auto;
}
@media (min-width: 70em) {
  .co_slider__content.align_left {
    align-items: flex-start;
    text-align: left;
  }
}
@media (min-width: 70em) {
  .co_slider__content.align_right {
    align-items: flex-end;
    text-align: right;
  }
}
.co_slider__content h1 {
  max-width: 600px;
}
.co_slider__content p {
  max-width: 500px;
}
@media (min-width: 70em) {
  .co_slider__content {
    height: 960px;
  }
}
@media (min-width: 90em) {
  .co_slider__content {
    height: 1200px;
  }
}

.co_layout {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}
.co_layout--sidebar ul {
  list-style: none;
  margin: 0;
}
.co_layout--sidebar .co_layout__sidebar {
  margin-top: 2em;
}
@media (min-width: 56em) {
  .co_layout--sidebar {
    display: flex;
  }
  .co_layout--sidebar .co_layout__content {
    width: 75%;
  }
  .co_layout--sidebar .co_layout__sidebar {
    width: 25%;
    padding-left: 20px;
    margin-top: 0;
  }
}

.co_content-full {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
  max-width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
}
.co_content-full article {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}
.co_content-full.full_white_bgr {
  background-color: #FFFFFF;
}
.co_content-full.full_gray_bgr {
  background-color: #f6f6f6;
}
.co_content-full.full_green_bgr {
  background-color: #209a48;
  color: #FFFFFF;
}
.co_content-full.full_green_bgr strong {
  color: #FFFFFF;
}
.co_content-full.full_green_bgr h1, .co_content-full.full_green_bgr h2, .co_content-full.full_green_bgr h3, .co_content-full.full_green_bgr h4, .co_content-full.full_green_bgr h5, .co_content-full.full_green_bgr h6 {
  color: #FFFFFF;
}
.co_content-full.full_green_bgr .button {
  background: #202f61;
}
.co_content-full.full_green_bgr .button:hover, .co_content-full.full_green_bgr .button:focus, .co_content-full.full_green_bgr .button:active {
  background: #2d4287;
}

.page-id-1319 .co_content-full.full_gray_bgr {
  padding-bottom: 10px;
  padding-top: 1em;
}

.page-id-1319 .co_content-full.full_gray_bgr p {
  margin-bottom: .5em;
}

.co_content-video {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
  padding-top: 2em;
  padding-bottom: 2em;
}
.co_content-video article {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}
.co_content-video .embed-container {
  text-align: center;
}

.co_content-full-bgr {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.co_content-full-bgr article {
  max-width: 45em;
  margin-left: auto;
  margin-right: auto;
  padding: 3em 1em 2em 1em;
  color: #FFFFFF;
}
.co_content-full-bgr article.fullbgr_white_bgr {
  background: rgba(255, 255, 255, 0.7);
  color: #000000;
  border-radius: 15px;
}
.co_content-full-bgr article.fullbgr_clear_bgr h1, .co_content-full-bgr article.fullbgr_clear_bgr h2, .co_content-full-bgr article.fullbgr_clear_bgr h3, .co_content-full-bgr article.fullbgr_clear_bgr h4, .co_content-full-bgr article.fullbgr_clear_bgr h5, .co_content-full-bgr article.fullbgr_clear_bgr h6 {
  color: #FFFFFF;
}
.co_content-full-bgr article.fullbgr_left {
  max-width: 40em;
}
@media (min-width: 70em) {
  .co_content-full-bgr article.fullbgr_left {
    margin-left: 25em;
  }
}
.co_content-full-bgr article.fullbgr_right {
  max-width: 40em;
}
@media (min-width: 70em) {
  .co_content-full-bgr article.fullbgr_right {
    margin-right: 25em;
  }
}
.co_content-full-bgr img {
  width: 100%;
}
.co_content-full-bgr .full-width-bgr {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  position: relative;
  padding: 4em 0 4em 0;
}

.co.co_page-hero {
  margin-top: 0;
  margin-bottom: 0;
}

.co_page-hero {
  color: #FFFFFF;
}
.co_page-hero img {
  width: 100%;
}
.co_page-hero .full-width-bgr {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
}
.co_page-hero h1 {
  color: #FFFFFF;
  position: absolute;
  bottom: 1em;
  font-size: 2.5em;
  border-bottom: 2px solid #FFFFFF;
}
.co_page-hero .full-hero {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}

.co {
  margin-top: 2em;
  margin-bottom: 2em;
}
.co_content-three-col > article,
.co_content-three-col > div {
  padding: 0 1em;
}
@media (min-width: 56em) {
  .co_content-three-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .co_content-three-col > article,
  .co_content-three-col > div {
    max-width: 22.6666666667em;
    width: 30%;
  }
}
.co_content-two-col > article,
.co_content-two-col > div {
  padding: 0 1em;
}
@media (min-width: 56em) {
  .co_content-two-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .co_content-two-col > article,
  .co_content-two-col > div {
    max-width: 34em;
    width: 48%;
  }
}
.co_intro > div {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}
.co_content-accordion-faq {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}
.co_content-accordion-faq .accordion-faq-wrap {
  cursor: pointer;
  margin-left: 20px;
}
.co_content-accordion-faq .accordion-faq-wrap .accordion-faq-content {
  display: none;
}
.co_content-accordion-faq .accordion-faq-wrap h4.toggle-arrow {
  position: relative;
}
.co_content-accordion-faq .accordion-faq-wrap h4.toggle-arrow:before {
  content: '+';
  color: #209a48;
  position: absolute;
  left: -20px;
}
.co_content-accordion-faq .accordion-faq-wrap.active .accordion-faq-content {
  display: block;
}
.co_content-accordion-faq .accordion-faq-wrap.active h4.toggle-arrow:before {
  content: '-';
  color: #209a48;
  position: absolute;
  left: -20px;
}
.co_featured-posts__title {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
  margin-bottom: 1em;
}
.co_featured-posts__content > article,
.co_featured-posts__content > div {
  padding: 0 1em;
}
@media (min-width: 56em) {
  .co_featured-posts__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .co_featured-posts__content > article,
  .co_featured-posts__content > div {
    max-width: 22.6666666667em;
    width: 30%;
  }
}
.co_featured-posts article h2 {
  font-size: em(18);
  font-weight: 400;
}
.co_featured-posts article img {
  display: block;
  margin-bottom: .5em;
  padding: 4px;
  border: 1px solid #dddddd;
  background: #fff;
  border-radius: 2px;
}
.co_featured-posts article .meta {
  font-size: em(12);
  font-weight: 400;
  color: #000;
}
.co_callouts {
  text-align: center;
  padding-bottom: 2em;
}
.co_callouts.full_white_bgr {
  background-color: #FFFFFF;
}
.co_callouts.full_gray_bgr {
  background-color: #f6f6f6;
}
.co_callouts > div {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}
.co_callouts div.three-steps {
  padding-top: 1.5em;
}
.co_callouts div.three-steps > article,
.co_callouts div.three-steps > div {
  padding: 0 1em;
}
@media (min-width: 56em) {
  .co_callouts div.three-steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .co_callouts div.three-steps > article,
  .co_callouts div.three-steps > div {
    max-width: 22.6666666667em;
    width: 30%;
  }
}
.co_callouts div.three-steps div.called {
  display: flex;
  flex-direction: column;
  position: relative;
  border-top: 1px solid #f6f6f6;
  padding-top: 1em;
}
@media (min-width: 56em) {
  .co_callouts div.three-steps div.called {
    border-left: 1px solid #202f61;
    border-top: none;
    padding-left: 1em;
    min-height: 200px;
  }
  .co_callouts div.three-steps div.called:first-child {
    border-left: none;
    padding-left: 0;
    padding-right: 1em;
  }
}
.co_callouts div.three-steps div.called__content {
  margin-top: auto;
  flex: 1 1 0;
}
.co_callouts div.three-steps div.called__media {
  margin-top: auto;
  flex: 1 1 0;
  min-height: 100px;
}
.co_callouts div.three-steps div.called i {
  color: #209a48;
  font-size: 3.5em;
}
@media (min-width: 56em) {
  .co_callouts div.three-steps div.called i {
    position: absolute;
    top: 25px;
    left: 2.25em;
  }
}
@media (min-width: 56em) {
  .co_callouts div.three-steps div.called {
    border-top: none;
    padding-left: 1em;
    min-height: 200px;
  }
  .co_callouts div.three-steps div.called:first-child {
    border-left: none;
    padding-left: 0;
    padding-right: 1em;
  }
}
.co_three_step_callout {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 2em;
}
.co_three_step_callout.full_white_bgr {
  background-color: #FFFFFF;
}
.co_three_step_callout.full_gray_bgr {
  background-color: #f6f6f6;
}
.co_three_step_callout strong {
  color: #202f61;
}
.co_three_step_callout > div {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}
.co_three_step_callout .button {
  font-size: 2rem;
  border: 3px solid #177034;
}
.co_three_step_callout div.three-steps {
  padding-top: 1.5em;
}
.co_three_step_callout div.three-steps > article,
.co_three_step_callout div.three-steps > div {
  padding: 0 1em;
}
@media (min-width: 56em) {
  .co_three_step_callout div.three-steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .co_three_step_callout div.three-steps > article,
  .co_three_step_callout div.three-steps > div {
    max-width: 22.6666666667em;
    width: 30%;
  }
}
.co_three_step_callout div.called {
  display: flex;
  flex-direction: column;
  position: relative;
}
.co_three_step_callout div.called__content {
  margin-top: auto;
  flex: 1 1 0;
}
.co_three_step_callout div.called__media {
  margin-top: auto;
  flex: 1 1 0;
  min-height: 100px;
}
.co_three_step_callout div.called i {
  color: #202f61;
  font-size: 3.5em;
}
@media (min-width: 56em) {
  .co_three_step_callout div.called i {
    position: absolute;
    top: 25px;
    left: 2.25em;
  }
}
@media (min-width: 56em) {
  .co_three_step_callout div.called {
    border-top: none;
    padding-left: 1em;
    min-height: 200px;
  }
  .co_three_step_callout div.called:first-child {
    border-left: none;
    padding-left: 0;
    padding-right: 1em;
  }
}

.co_hero.secondary.full-width-bgr {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
}

/*# sourceMappingURL=app.css.map */
