// ----------------------------------------
// // --- Fonts ---
// ----------------------------------------
@font-face {
	font-family: 'icomoon';
	src:  url('fonts/icomoon.eot?93g7tu');
	src:  url('fonts/icomoon.eot?93g7tu#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?93g7tu') format('truetype'),
		url('fonts/icomoon.woff?93g7tu') format('woff'),
		url('fonts/icomoon.svg?93g7tu#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-transfer:before {
	content: "\e911";
  }
  .icon-expand:before {
	content: "\e910";
  }
  .icon-night:before {
	content: "\e900";
  }
  .icon-newspaper:before {
	content: "\e904";
  }
  .icon-profile:before {
	content: "\e923";
  }
  .icon-bubbles:before {
	content: "\e96c";
  }
  .icon-target-arrow:before {
	content: "\e90e";
  }
  .icon-weather-sunny:before {
	content: "\e902";
  }
  .icon-weather-partly-sunny:before {
	content: "\e903";
  }
  .icon-weather-snow:before {
	content: "\e905";
  }
  .icon-phone-call:before {
	content: "\e906";
  }
  .icon-instagram-with-circle:before {
	content: "\e907";
  }
  .icon-pinterest-with-circle:before {
	content: "\e908";
  }
  .icon-linkedin-with-circle:before {
	content: "\e909";
  }
  .icon-twitter-with-circle:before {
	content: "\e90a";
  }
  .icon-facebook-with-circle:before {
	content: "\e90b";
  }
  .icon-search:before {
	content: "\f002";
  }
  .icon-star-o:before {
	content: "\f006";
  }
  .icon-arrow-circle-o-down:before {
	content: "\f01a";
  }
  .icon-arrow-circle-o-up:before {
	content: "\f01b";
  }
  .icon-gift:before {
	content: "\f06b";
  }
  .icon-phone:before {
	content: "\f095";
  }
  .icon-cloud1:before {
	content: "\f0c2";
  }
  .icon-flask:before {
	content: "\f0c3";
  }
  .icon-navicon:before {
	content: "\f0c9";
  }
  .icon-envelope:before {
	content: "\f0e0";
  }
  .icon-file-text:before {
	content: "\f15c";
  }
  .icon-bed:before {
	content: "\f236";
  }
  .icon-google-plus-circle:before {
	content: "\f2b3";
  }
  .icon-chevron-right:before {
	content: "\e90c";
  }
  .icon-chevron-left:before {
	content: "\e90d";
  }  