{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
	<!-- Doc Wrapper -->
	<div class="doc_wrap">

		<!-- start header -->
		{% include ['header.twig'] %}
		<!-- end header -->

		{# Option for different Hero on other pages #}
		{% block hero %}
		{% endblock %}

		<!-- content -->

		<main class="doc_content">

				{% block content %}
					{# Test for Page Components #}
					{% if post.get_field('page_components') %}

						{% include 'content-components.twig' %}

						{% else %}
						{# No Page Components use WP content instead #}
							<section class="co co_content-full">
								<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
									<h1 class="article-h1">{{post.title}}</h1>
									<div class="article-body">
										{{post.content}}
									</div>
								</article>
							</section>
						{% endif %}

				{% endblock %}

		</main>

		<!-- end content -->

	{% block footer %}

	<!-- End Doc Wrapper -->
	</div>

	<footer id="footer" class="doc_foot">
	{% include 'footer.twig' %}
	{{ function('wp_footer') }}
	</footer>
	<!-- begin fixed mobile footer section -->
	<div class="fixed_footer">
		<div class="footer_cta"><a class="button button--cta" href="/sq/">Free Report</a></div>
	</div>

	{% endblock %}
	</body>
</html>
