{% for page_components in post.get_field('page_components') %}

    {% if page_components.acf_fc_layout == 'page_hero' %}
      {% include 'components/co_page-hero.twig' %}

    {% elseif page_components.acf_fc_layout == 'content_full_width' %}
      {% include 'components/co_content-full.twig' %}

    {% elseif page_components.acf_fc_layout == 'content_video_responsive' %}
      {% include 'components/co_content-video.twig' %}

    {% elseif page_components.acf_fc_layout == 'content_full_width_bgr' %}
      {% include 'components/co_content-full-bgr.twig' %}

    {% elseif page_components.acf_fc_layout == 'content_two_columns' %}
      {% include 'components/co_content-two.twig' %}

    {% elseif page_components.acf_fc_layout == 'content_three_columns' %}
      {% include 'components/co_content-three.twig' %}

    {% elseif page_components.acf_fc_layout == 'full_width_slider' %}
      {% include 'components/co_slider.twig' %}

    {% elseif page_components.acf_fc_layout == 'featured_posts' %}
      {% include 'components/co_featured-posts.twig' %}

    {% elseif page_components.acf_fc_layout == 'featured_callouts' %}
      {% include 'components/co_callouts.twig' %}

    {% elseif page_components.acf_fc_layout == 'accordion_faqs' %}
      {% include 'components/co_content-accordion-faq.twig' %}

    {% elseif page_components.acf_fc_layout == 'three_step_callout' %}
      {% include 'components/co_three_step_callout.twig' %}

    {% endif %}

  {% endfor %}
