<!-- begin footer quotes section -->
<section class="doc-content footer-quotes">
	<div class="footer_content-full">
	<h3 class="icon blue"><i class="icon-bubbles"></i>What Clients Are Saying about Quanta Change...</h3>

		<ul class="quote-slider desk-quote">
		{% for quotes_slider in options.quotes_slider %}
		<li>
			<blockquote>
			{{ quotes_slider.quotation }}
			<cite>{{ quotes_slider.cite }}</cite>
			</blockquote>
		</li>
		{% endfor %}
		</ul>

		<ul class="quote-slider mob-quote">
		{% for quotes_slider in options.quotes_slider %}
		<li>
			<blockquote>
			{{ quotes_slider.quotation }}
			<cite>{{ quotes_slider.cite }}</cite>
			</blockquote>
		</li>
		{% endfor %}
		</ul>

	</div>
</section>

<!-- begin the footer -->
<section class="foot-wrap">
	<div class="foot_nav">
    	{% include "menu.twig" with {'menu': footernav.get_items} %}
		<div>
		<h5>{{options.footer_column_one_heading}}</h5>
		{{options.footer_column_one_content}}
		</div>
		<div>
		<h5>{{options.footer_column_two_heading}}</h5>
		{{options.footer_column_two_content}}
		<ul class="social">
			<li><a href="{{options.footer_fb_link}}" target="_blank"><i class="icon-facebook-with-circle"></i></a></li>
			<li><a href="{{options.footer_email_link}}" target="_blank"><i class="icon-envelope"></i></a></li>
		</ul>
		</div>
    </div>
	<div class="foot_legal">
		<img class="aligncenter" src="/wp-content/uploads/2018/11/positive-brand-footer.png" alt="" width="201" height="125">
		<p>&copy; Copyright 2005-{{"now"|date('Y')}} {{ options.legal }} | <a href="https://bitclone.co/" target="_blank" rel="noreferrer noopener">Website development Bitclone</a></p>
	</div>
</section>