<button class="hamburger_toggle js-hamburger_toggle">
  <i class="hamburger"></i>
</button>
<header class="doc_head">
  <div class="doc_head__top">
    <div class="doc_head__logo">
    {% if is_front_page %}
      {% if options.main_logo %}
          <img src="{{ options.main_logo }}" alt="logo" >
      {% else %}
          <p>NO LOGO</p>
      {% endif %}
    {% else %}
        {% if options.main_logo %}
            <a href="{{site.url}}"><img src="{{ options.main_logo }}" alt="logo" ></a>
        {% else %}
            <p>ADD YOUR LOGO!</p>
        {% endif %}
    {% endif %}
    </div>
    <div class="doc_head__right">
      <a class="button button--cta" href="/sq/">Free Report</a>
    </div>
  </div>

  <div class="doc_head__nav">
    <nav class="main_menu js-main_menu">
      {% include "menu.twig" with {'menu': headernav.get_items} %}
      <i class="icon-search"></i>
    </nav>
  </div>

</header>

<div class="doc_head__search js-search-content">
<button class="js-search-close">X</button>
  <form class="co-search_form" method="get" action="/index.php">
    <label for="s">Search:</label>
    <input type="search" name="s" id="s" size="15" placeholder="Search" /><button type="submit">GO!</button>
  </form>
</div>
