{% extends "base.twig" %}
{% block hero %}
	<div class="co_hero secondary full-width-bgr" style="background-image: url({{TimberImage(options.blog_bgr_image).src}});">

	</div>
{% endblock %}

{% block content %}

		<section class="co_layout co_layout--sidebar">

			<div class="co_layout__content">
				<h2>{{ foo }}</h2>
				<p>{{ qux }}</p>
				{% for post in posts %}
					{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
				{% endfor %}

				{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
			</div>

			<!-- begin sidebar -->
			<aside class="co_layout__sidebar">
				<ul>
					{% include 'sidebar.twig' %}
				</ul>
			</aside>
			<!-- end sidebar -->

		</section>

{% endblock %}
