{% if menu %}

	<ul>
	    {% for item in menu %}
	        <li class="{{ item.classes | join(' ') }}">
	            <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
	            {% if item.get_children %}
	                <ul class="main_menu__sub">
	                    {% for child in item.get_children %}
	                        <li class="{{ child.class }}"><a href="{{ child.link }}">{{ child.title }}</a></li>
	                    {% endfor %}
	                </ul>
	            {% endif %}
	        </li>
	    {% endfor %}
	</ul>

{% endif %}
