{% extends "base.twig" %}

{% block content %}

	<section class="co_layout co_layout--sidebar">

		<div class="co_layout__content">
			<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
				<div class="article-content">
					<h1 class="article-h1">{{ post.title }}</h1>
					<p class="blog-author">
						<span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a><span>&bull;</span> {{ post.date }}
					</p>
					{% if post.thumbnail.src %}
						<aside class="post-image">
							<img src="{{post.thumbnail.src|resize(250, 200)}}" alt="{{post.thumbnail.alt}}" />
						</aside>
					{% endif %}
					<div class="article-body">
						{{post.content}}
					</div>
				</div>

				<!-- comments -->
				{% if post.comment_status == "closed" %}
					<p> comments for this post are closed </p>
				{% else %}
					   <!-- comment form -->
					   {% include "comment-form.twig" %}
				{% endif %}

			</article>
		</div>

		{% if sidebar %}
		<!-- begin sidebar -->
		<aside class="co_layout__sidebar">
			<ul>
				{% include 'sidebar.twig' %}
			</ul>
		</aside>
		<!-- end sidebar -->
		{% endif %}

	</section>

{% endblock %}
