{% extends "tease.twig" %}

{% block content %}
	{% if post.thumbnail.src %}
		<aside class="post-image">
			<a href="{{post.link}}"><img src="{{post.thumbnail.src|resize(250, 200)}}" alt="{{post.thumbnail.alt}}" /></a>
		</aside>
	{% endif %}
	<section class="post-content">
		<h2 class="h2"><a href="{{post.link}}">{{post.title}}</a></h2>
		<p>{{post.preview.length(25)}}</p>
	</section>
{% endblock %}