<section class="co co_content-three-col">

    {% for col in page_components.three_columns %}
    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
      {{ col.content_column }}
    </article>
    {% endfor %}

</section><!-- /three column -->
