<section class="co co_content-two-col">

    {% for col in page_components.two_columns %}
    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
      {{ col.content_column }}
    </article>
    {% endfor %}
    
</section><!-- /intro -->
