<section class="co_content-video">
  <div class="embed-container">
    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
      {{page_components.vid_url}}
    </article>
  </div>
</section><!-- /video -->
