<section class="co_content-full {{page_components.background_color_selection}}">
  <div>
    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
      {{page_components.content_full}}
    </article>
  </div>
</section><!-- /full-width -->
