<section class="co co_content-accordion-faq">
  <h2>{{page_components.accordion_section_heading}}</h2>
{% for accordion_faq_item in page_components.accordion_faq_section %}
  <div class="accordion-faq-wrap">
    <div class="accordion-faq-question">
      <h4 class="toggle-arrow">{{ accordion_faq_item.question_title }}</h4>
    </div>
    <div class="accordion-faq-content">
      {{ accordion_faq_item.question_content }}
    </div>
    <hr>
  </div>
  {% endfor %}
</section><!-- /accordions -->
