<section class="co_content-full-bgr">
  <div class="full-width-bgr" style="background-image: url({{TimberImage(page_components.background_image).src}});">
    <article class="post-type-{{post.post_type}} {{page_components.background_column_color}} {{page_components.content_column_alignment}}" id="post-{{post.ID}}">
      {{page_components.content_full_bgr}}
    </article>
  </div>
</section><!-- /full-width image bgr -->
