<section class="co_callouts {{page_components.bgr_color_selector}}">

<div class="three-steps">
	{% for callout in page_components.callouts %}
	<div class="called">
		<div class="called__media">
			{% if callout.choose_media == 'icon' %}
				<i class="icon-{{ callout.icon_select }}"></i>
	
				{% elseif callout.choose_media == 'image' %}
					<img src="{{TimberImage(callout.image_select).src}}" />        
			
				{% else %}
			
			{% endif %}
		</div>
			<div class="called__content">
			{{ callout.callout }}
			</div>
	</div>
	{% endfor %}
</div>

</section> <!-- /callouts  -->
