<section class="co co_featured-posts">
  <div class="co_featured-posts__title">
    <h3>{{page_components.component_heading}}</h3>
  </div>
  <div class="co_featured-posts__content">

    {% for post in page_components.article_selector %}
      <article>
        <span class="meta"><small>Posted: <time datetime="{{ post.article.post_date | date('F j, Y') }}"> {{ post.article.post_date | date('F j, Y') }}</time></small></span>
        <a href="{{ post.article.link }}"><img src="{{ post.article.thumbnail.src|resize(250, 200) }}" alt="Image for {{ post.article.title }}" /></a>
        <h4><a href="{{ post.article.link }}">{{ post.article.title }}</a></h4>
        <p>{{ post.article.preview }}</p>
      </article>
  	{% endfor %}

  </div>
</section>
