<section class="co_intro">
  <div>
  <h1>Intro Content</h1>
    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
      {{post.content}}
    </article>
  </div>
</section><!-- /intro -->
