<section class="co co_page-hero">
      <div class="full-width-bgr" style="background-image: url({{TimberImage(page_components.page_hero_bgr_image).src}});">
            <div class="full-hero">
            <h1>{{page_components.page_hero_heading}}</h1>
            </div>
      </div>
</section><!-- /co_page-hero -->
