<div class="co_slider">
    <div>
      <div class="bxslider-load">
        <ul class="bxslider">

          {% for slide in page_components.slide %}
            <li class="co_slider__slide" style="background-image: url({{TimberImage(slide.slide_image).src}});">
              <div class="co_slider__content {{ slide.slide_content_alignment }}">
                <h1>{{ slide.slide_title }}</h1>
                <p>{{ slide.slide_description }}</p>
                  {% if slide.button_select == 'buttonyes' %}
                    <a class="button" href="{{ slide.slide_button_link }}">{{ slide.slide_button_text }}</a>
                    {% else %}

                  {% endif %}
              </div>
            </li>
          {% endfor %}

        </ul>
      </div>
    </div>
</div>
