<section class="co_three_step_callout {{page_components.bgr_color}}">
	<div>
		<p><span class="grey-em-text">{{ page_components.callout_emphasis }}</span></p>
		<h2>{{ page_components.callout_title }}</h2>
		<h5>{{ page_components.callout_subtitle }}</h5>
	</div>
	<div class="three-steps">
		{% for stepped_callouts in page_components.stepped_callouts %}
		<div class="called">
			<div class="called__media">
				{% if stepped_callouts.choose_media == 'icon' %}
					<i class="icon-{{ stepped_callouts.icon_select }}"></i>
		
					{% elseif stepped_callouts.choose_media == 'image' %}
						<img src="{{TimberImage(stepped_callouts.image_select).src}}" />        
				
					{% else %}
				
				{% endif %}
			</div>
				<div class="called__content">
				{{ stepped_callouts.step_callout }}
				</div>
		</div>
		{% endfor %}
	</div>
	<div>
		<p><strong>{{ page_components.callout_strong_text }}</strong></p>
		<p><a class="button button--cta" href="{{ page_components.callout_button_url }}">{{ page_components.callout_button_text }}</a></p>
	</div>

</section> <!-- /three step -->
