@mixin navigation-list {
    list-style-type:none;
    padding:0;
    margin:0;
    overflow:hidden;
    > li{
        display:block;
        float:left;
        margin-right: .5em;
        &:last-child{
            margin-right:0px;
        }
    }
}

@mixin white-button {
	padding: .5em 1em;
	border: 1px solid #fff;
	border-radius: $base-border-radius;
	background: transparent;
	color: #fff;
	display: inline-block;
	font-family: $secondary-font-family;
	@include transition (all .2s ease-in-out);
}
@mixin img-border {
	padding: 4px;
	border: 1px solid darken($light-gray, 10%);
	background: #fff;
	border-radius: $base-border-radius;
}