%button {
  @include button(flat, $base-accent-color);
  -webkit-font-smoothing: antialiased;
  font-size: $base-font-size;
  font-weight: 700;
  line-height: 1em;
  font-family: $secondary-font-family;
}
